#group-browser {
    cursor: pointer;
}

#group-browser_length {
    float: left;
    padding-top: 2px;
}

#group-browser_wrapper .bottom {
    margin: 5px;
}

#group-browser tbody {
    cursor: pointer;
}

#group-browser tr > :nth-child(1) {
    min-width: 60%;
    word-break: break-all;
}

#group-browser tr > :nth-child(2) {
    max-width: 40px;
    text-align: right;
}

#group-browser tr > :nth-child(3) {
    max-width: 30px;
    text-align: right;
}
