#group-browser {
    cursor: pointer;
}

#group-browser_length {
    float: left;
    padding-top: 2px;
}

#group-browser_wrapper .bottom {
    margin: 5px;
}

#group-browser tbody {
    cursor: pointer;
}
