{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Home{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block content %}

    <div class="header-logo-text-background">
        <div class="header-logo-text-content">
            <img class="mb-2" src="{{ url_for('static', filename='img/yoda.svg') }}" alt="Yoda research data management">
            <p>Welcome to Yoda for YOUth!</p>
            <p>Yoda is a share-collaborate environment for research data.</p>
        </div>
        <div>
            <a class="btn btn-primary" href="https://www.uu.nl/yoda" target="_blank">Help</a>
        </div>
    </div>

{% endblock %}
