<div id="deposit_research_tiles" class="row mt-5">
    <div class="col-lg-4 mt-1">
        <div id="general-tile">
            <div class="header-logo-text-content">
                <h1>Welcome to Yoda</h1>
                <p>Yoda is a share-collaborate environment for research data.</p>
            </div>
            <a class="btn btn-primary" href="https://wwww.uu.nl/yoda">Information</a>
        </div>
    </div>
    <div class="col-lg-4 mt-1">
        {% if 'Deposit' in config.modules_list %}
        <div id="deposit-tile">
            <div class="header-logo-text-content">
                <h1>Deposit</h1>
                <p>Research data in the archive</p>
            </div>
            <a class="btn btn-primary" href="/deposit/">Deposit</a>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-4 mt-1">
        {% if 'Vault' in config.modules_list %}
        <div id="search-tile">
            <div class="header-logo-text-content">
                <h1>Find and retrieve</h1>
                <p>Research data from the archive</p>
            </div>
            <a class="btn btn-primary" href="/vault/">Find & retrieve</a>
        </div>
        {% endif %}
    </div>
</div>
