<div id="deposit_research_tiles" class="row mt-5">
    <div class="col-lg-4 mt-1">
        <div class="tile">
            <div class="header-logo-text-content">
                <h1>Welcome to DAG</h1>
                <p>The Data Archive for Geosciences (DAG) is an easy to use facility for archiving and sharing inactive data with your faculty colleagues.</p>
            </div>
            <a class="btn btn-primary" href="https://dag.sites.uu.nl/dag-essentials/" target="_blank">Information</a>
        </div>
    </div>
    <div class="col-lg-4 mt-1">
        {% if 'Deposit' in config.modules_list %}
        <div class="tile">
            <div class="header-logo-text-content">
                <h1>Deposit</h1>
                <p>A compelling workflow to upload and document your data and deposit it in the way you want.</p>
            </div>
            <a class="btn btn-primary" href="/deposit/">Deposit</a>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-4 mt-1">
        {% if 'Vault' in config.modules_list %}
        <div class="tile">
            <div class="header-logo-text-content">
                <h1>Find and retrieve</h1>
                <p>Find out what data your faculty colleagues have put in the data archive and how to access that data.</p>
            </div>
            <a class="btn btn-primary" href="/open_search/">Find & retrieve</a>
        </div>
        {% endif %}
    </div>
</div>
