@import "font";
@import "badge";

// Dark theme specific settings
[data-bs-theme="dark"] {
    /* Breadcrumb */
    .breadcrumb {
        --bs-breadcrumb-bg: var(--bs-tertiary-bg);
        --bs-breadcrumb-divider-color: var(--bs-gray-alt2);
        --bs-breadcrumb-item-active-color: var(--bs-gray-alt);
    }

    /* File browser rows */
    .browse, .deposit-delete, .page-link, .system-metadata-items {
        color: $white;
    }

    /* Steps in datarequest */
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        color: $gray-400;
    }
}
