// colors
$primary: #ffcd00;
$black: #000;
$black-alt: #333;
$gray-alt: #dcdcdc;
$gray-alt2: #ddd;
$gray-alt3: #e9ecef;

// Yoda Navbar
$navbar-bg: $black;
$navbar-dark-color: #fff;
$navbar-dark-brand-color: #fff;
$navbar-dark-brand-hover-color: #fff;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;

// Bootstrap card
$card-cap-bg: $gray-alt;
$card-cap-color: $black-alt;
$card-border-color: $gray-alt;

// Bootstrap breadcrumb
$breadcrumb-bg: $gray-alt3;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;

// Bootstrap links
$link-color: $black;

// Bootstrap list group
$list-group-active-color: $black;

// Bootstrap bage
$badge-font-size: .65em;

// Border
$border-color: $gray-alt;

// Bootstrap z-index
$zindex-dropdown: 1021;
