/logs/
/config/config_local.php

# Ignore any symlinks to module document roots.
/public/*
!/public/.htaccess.template
!/public/index.php
!/public/static/
/public/static/static_frontpage.html

/modules/

!.keep

*~*
*.swp
*.swo
