# Local/Editor files
*.swp
.DS_STORE
thumbs.db
activate.bat
.idea/
/.idea/

# Ansible controlled config files
flask.cfg

# Github defaults for Python
# https://github.com/github/gitignore/blob/master/Python.gitignore

__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
docs/_build/

# Node modules
/research/metadata-form/node_modules/
/vault/metadata-form/node_modules/
/deposit/metadata-form/node_modules/

# Python Virtual Environment
/venv/

# Flask Secret Key
flask_secret_key

node_modules
