# Local/Editor files
*.swp
.DS_STORE
thumbs.db
activate.bat
.idea/
/.idea/

# Ansible controlled config files
flask.cfg

# Github defaults for Python
# https://github.com/github/gitignore/blob/master/Python.gitignore

__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
docs/_build/
