{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Statistics{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('stats_bp.static', filename='css/stats.css') }}">
{% endblock style %}

{% block scripts %}
    <script src="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.js') }}"></script>
    <script src="{{ url_for('stats_bp.static', filename='lib/chartjs-4.3.2/chart.min.js') }}"></script>
    <script src="{{ url_for('stats_bp.static', filename='js/stats.js') }}"></script>
{% endblock scripts %}

{% block content %}
    <h1>Statistics</h1>

    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Groups

                    <div class="input-group-sm has-feedback float-end">
                        <input class="form-control form-control-sm" id="search-group-table" type="text" maxlength="63" placeholder="Search groups">
                    </div>
                </div>
                <div>
                    <table id="group-browser" class="table yoda-table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Members</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="group-details">
                <div class="card">
                    <div class="card-header" id="selected-group">
                        Group
                    </div>
                    <div class="card-body">
                        <div id="storage-chart-message">
                            <p class="placeholder-text">
                                Please select a group.
                            </p>
                        </div>
                        <div id="storage-chart" class="hidden">
                            <canvas id="chart"></canvas>
                            <div class="row">
                                <div class="btn-group" role="group">
                                    <button type="button" class="form-control item btn btn-sm" id="legend-deposit" onclick="chartToggleData(0)">Deposit</button>
                                    <button type="button" class="form-control item btn btn-sm" id="legend-research" onclick="chartToggleData(0)">Research</button>
                                    <button type="button" class="form-control item btn btn-sm" id="legend-vault" onclick="chartToggleData(1)">Vault</button>
                                    <button type="button" class="form-control item btn btn-sm" id="legend-revisions" onclick="chartToggleData(2)">Revisions</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn-group" role="group">
                                    <button type="button" class="form-control btn btn-sm btn-secondary" id="startdate_min"><i class="fa-solid fa-angles-left"></i> Earliest</button>
                                    <input class="form-control" onchange="chartFilterDate()" type="date" id="startdate" value="2023-01-25">
                                    <input class="form-control" onchange="chartFilterDate()" type="date" id="enddate" value="2023-01-31">
                                    <button type="button" class="form-control btn btn-sm btn-secondary" id="enddate_max">Latest <i class="fa-solid fa-angles-right"></i></button>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if categories %}
    <div class="row mt-4">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    Category statistics
                </div>
                <div class="card-body">
                    <table class="table table-striped storage-table">
                        <thead>
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Research
<i class="fa-solid fa-question-circle" aria-hidden="true" title="Used storage in the research space for given category"></i>
                                </th>
                                <th scope="col">Vault
<i class="fa-solid fa-question-circle" aria-hidden="true" title="Used storage in the vault for given category"></i>
                                </th>
                                <th scope="col">Revisions
<i class="fa-solid fa-question-circle" aria-hidden="true" title="Used storage as revisions for given category"></i>
                                </th>
                                <th scope="col">Total storage
                                  <i class="fa-solid fa-question-circle" aria-hidden="true" title="Sum of research, vault and revision storage"></i>
                                </th>
                                <th scope="col">Internal users
                                  <i class="fa-solid fa-question-circle" aria-hidden="true" title="Internal users use email accounts from domains '{{ external_filter }}'"></i>
                                </th>
                                <th scope="col">External users
                                  <i class="fa-solid fa-question-circle" aria-hidden="true" title="External users use email accounts NOT from domains '{{ external_filter }}'"></i>
                                </th>
                                <th scope="col">Total users
                                  <i class="fa-solid fa-question-circle" aria-hidden="true" title="Sum of internal and external users"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                          {% if not category.category == "YODA_INSTANCE_TOTAL" %}
                            <tr>
                                <td>{{ category.category }}</td>
                                <td>{{ category.storage.research }}</td>
                                <td>{{ category.storage.vault }}</td>
                                <td>{{ category.storage.revision }}</td>
                                <td>{{ category.storage.total }}</td>
                                <td>{{ category.users.internals }}</td>
                                <td>{{ category.users.externals }}</td>
                                <td>{{ category.users.externals + category.users.internals }}</td>
                            </tr>
                           {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        {% for category in categories %}
                          {% if category.category == "YODA_INSTANCE_TOTAL" %}
                            <tr>
                                <th scope="row">Totals</th>
                                <td>{{ category.storage.research }}</td>
                                <td>{{ category.storage.vault }}</td>
                                <td>{{ category.storage.revision }}</td>
                                <td>{{ category.storage.total }}</td>
                                <td>{{ category.users.internals }}</td>
                                <td>{{ category.users.externals }}</td>
                                <td>{{ category.users.externals + category.users.internals }}</td>
                            </tr>
                           {% endif %}
                        {% endfor %}
                        </tfoot>
                    </table>

                    <a href="{{ url_for('stats_bp.export') }}" class="btn btn-primary btn-sm">
                        Export monthly storage details
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}
