.yoda-navbar {
	background: $navbar-bg;
	margin-bottom: 20px;
}

.yoda-navbar a {
	color: $navbar-text;
}

.yoda-navbar a:hover {
	color: $navbar-hover;
}

.yoda-navbar .navbar-nav .active a {
	color: $navbar-active;
}
.yoda-topnavbar .navbar-brand .logo {
	height: 48px;
}