{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Intake{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('intake_bp.static', filename='css/intake.css') }}">
{% endblock style %}

{% block scripts %}
    <script src="{{ url_for('intake_bp.static', filename='scripts/controllers/reports.js') }}"></script>
{% endblock scripts %}

{% block content %}
{% if access_denied %}
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-danger">
                <button type="button" class="close" data-hide="alert">&times;</button>
                <div class="info_text">
		    This area or study is not accessible for you.
                    <br>
                    <br>
                    <br>
                    Please click <a href="{{ url_for('intake_bp.index') }}">here</a> to go to an area that is accessible for you.
                    <div class="btn-group">
                        <a href="{{ url_for('intake_bp.index') }}" class="btn btn-info"><span class="fa fa-chevron-right"></span> Intake</a>
                    </div>
                </div>
            </div>
           </div>
        </div>

{% else %}

    <div class="row page-header">
        <div class="col-sm-12">
            <h1>
                <span class="fa fa-folder-open"></span>
                {{ title }}
            </h1>
        </div>
    </div>

    <div class="row" id="toprow">
     <div class="col-sm-12">
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i> Change study <span class="caret"></span>
            </button>

            <div class="dropdown-menu" style="width:300px;padding:5px;">
                Please select a study for your Yoda Intake Area:
                <br/>
                <br/>
                <table class="table table-striped hover" id="select-study">
                    {% for study in studies %}
                        <tr data-study-url="{{ url_for('intake_bp.reports', studyID=study) }}">
                            <td >
                                <span class="fa fa-graduation-cap"></span>
                            </td>
                            <td>
                                    <span>
                                        {{ study }}
                                    </span>
                            </td>
                            <td style="width:10px;">
                                {% if study==study_id %}
                                    <span class="fa fa-check"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="btn-group">
            <a class="btn  btn-outline-secondary" href="{{ url_for('intake_bp.export', studyID=study_id) }}" hP2="download?studyID={{ study_id | urlencode | replace("+", "%20") }}" target="_blank">
                <span class="fa fa-download"></span> Export data</span>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('intake_bp.index') }}" class="btn btn-info"><span class="fa fa-chevron-right"></span> Intake</a>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h1>Raw</h1>
            {% set exists = [] %}
            <table width="100%" class="table-striped">
                <thead>
                <tr>
                    <td><strong>Type</strong></td>
                    <td><strong>Wave</strong></td>
                    <td><strong>Count</strong></td>
                </tr>
                </thead>
              <tbody>
                {% set counter = 0 %}
                {% for type in datasetTypeCounts %}
                    {% for wave in datasetTypeCounts[type] %}
                        {% for version in datasetTypeCounts[type][wave] %}
                            {% if version=='raw' %}
                                {% if exists.append(1) %}{% endif %}
                                <tr>
                                    <td>{{ type }}</td>
                                    <td>{{ wave }}</td>
                                    <td>{{ datasetTypeCounts[type][wave][version] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                </tbody>
            </table>
            {% if not exists %}
                <i>No data found.</i>
            {% endif %}

        </div>
        <div class="col-sm-6">
            <h1>Processed</h1>
            {% set exists = [] %}
            <table width="100%" class="table-striped">
                <thead>
                <tr>
                    <td><strong>Type</strong></td>
                    <td><strong>Version</strong></td>
                    <td><strong>Wave</strong></td>
                    <td><strong>Count</strong></td>
                </tr>
                </thead>
                <tbody>
                {% for type in datasetTypeCounts %}
                    {% for wave in datasetTypeCounts[type] %}
                        {% for version in datasetTypeCounts[type][wave] %}
                            {% if version!='raw' %}
                                {% if exists.append(1) %}{% endif %}
                                <tr>
                                    <td>{{ type }}</td>
                                    <td>{{ version }}</td>
                                    <td>{{ wave }}</td>
                                    <td>{{ datasetTypeCounts[type][wave][version] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
	    {% if not exists %}
	        <i>No data found.</i>
	    {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4">
            <h1>Raw</h1>
            <table class="table-striped">
                <tbody>
                {% for version in aggregatedInfo %}
                    {% if version == 'raw' %}
                        {% for descr in aggregatedInfo[version] %}
                            <tr>
                                <td style="width:250px;">{{ title_translate[descr] }}</td>
                                <td align="right">{{ aggregatedInfo[version][descr] }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
            <h1>Processed</h1>
            <table class="table-striped">
                <tbody>
                {% for version in aggregatedInfo %}
                    {% if version == 'notRaw' %}
                        {% for descr in aggregatedInfo[version] %}
                            <tr>
                                <td style="width:250px;">{{ title_translate[descr] }}</td>
                                <td align="right">{{ aggregatedInfo[version][descr] }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
            <h1>Total</h1>
            <table class="table-striped">
                <tbody>
                {% for version in aggregatedInfo %}
                    {% if version == 'total' %}
                        {% for descr in aggregatedInfo[version] %}
                            <tr>
                                <td style="width:250px;">{{ title_translate[descr] }}</td>
                                <td align="right">{{ aggregatedInfo[version][descr] }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock content %}
