@import "font";
@import "badge";

.breadcrumb_item,  .breadcrumb-item a {
   color: $white !important;
}

// Dark theme specific settings
[data-bs-theme="dark"] {
    /* File browser rows */
    .browse, .deposit-delete {
        color: $white;
    }

    /* Steps in datarequest */
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        color: $white;
    }
}
