@import "font";
@import "badge";

.breadcrumb_item,  .breadcrumb-item a {
   color: #fff !important;
}

// Dark theme specific settings
[data-bs-theme="dark"] {
    /* Links */
    a {
        color: $white;
    }

    /* Steps in datarequest */
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        color: $white;
    }
}
