// colors
$primary: #008A00;
$wurgreen: #008A00;
$wurblue: #005172;
$black: #000000;
$white: #ffffff;
$navhover: #000;

// Yoda Navbar
$navbar-bg: $wurgreen;
$navbar-dark-color: $white;
$navbar-dark-brand-color: $white;
$navbar-dark-brand-hover-color: $white;
$navbar-dark-hover-color: $navhover;
$navbar-dark-active-color: $navhover;

// Bootstrap card
$card-cap-bg: $wurblue;
$card-cap-color: $white;
$card-border-color: $wurblue;

// Bootstrap breadcrumb
$breadcrumb-active-color: $white;
$breadcrumb-bg: $wurblue;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;

// Bootstrap links
$link-color: $black;

// Bootstrap list group
$list-group-active-color: $black;
$list-group-disabled-color: $black;

// Bootstrap bage
$badge-font-size: .65em;

// Border
$border-color: $wurblue;

// Bootstrap z-index
$zindex-dropdown: 1021;
