{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Open Search{% endblock title %}

{% block scripts %}
<script src="{{ url_for('open_search_bp.static', filename='js/search.js') }}"></script>
{% endblock scripts %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('open_search_bp.static', filename='lib/fontawesome-free-6.0.0/css/fontawesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('open_search_bp.static', filename='lib/fontawesome-free-6.0.0/css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('open_search_bp.static', filename='css/search.css') }}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="search-2 input-group mb-3">
                    <input id="search-filter" type="text" class="form-control input-text" placeholder="Search ...." value="{{ searchTerm|safe }}" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-warning btn-lg" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span class="title-text">
                            <a href="#">Frictial slip 1</a>
                        </span>
                        <span class="badge rounded-pill bg-success">
                            <i class="fa-solid fa-lock-open"></i>
                            Open
                        </span>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span>R. van Elk (Developer)</span>
                        <span class="float-end">01-02-2022</span>
                    </h6>
                    <p class="card-text">
                        Nunc fringilla ligula non vehicula ultrices. Nulla eleifend condimentum nisi, interdum cursus metus pretium non. Pellentesque viverra orci sit amet nulla hendrerit venenatis. Pellentesque vitae dui consequat, accumsan tortor at, laoreet eros. Class aptent taciti.
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span class="title-text"><a href="#">Frictial slip 2</a></span>
                        <span class="badge rounded-pill bg-warning">
                            <i class="fa-solid fa-lock"></i>
                            Restricted
                        </span>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span>R. van Elk (Developer)</span>
                        <span class="float-end">01-02-2022</span>
                    </h6>
                    <p class="card-text">
                        Nunc fringilla ligula non vehicula ultrices. Nulla eleifend condimentum nisi, interdum cursus metus pretium non. Pellentesque viverra orci sit amet nulla hendrerit venenatis. Pellentesque vitae dui consequat, accumsan tortor at, laoreet eros. Class aptent taciti.
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span class="title-text"><a href="#">Frictial slip 3</a></span>
                        <span class="badge rounded-pill bg-success">
                            <i class="fa-solid fa-lock-open"></i>
                            Open
                        </span>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span>R. van Elk (Developer)</span>
                        <span class="float-end">01-02-2022</span>
                    </h6>
                    <p class="card-text">
                        Nunc fringilla ligula non vehicula ultrices. Nulla eleifend condimentum nisi, interdum cursus metus pretium non. Pellentesque viverra orci sit amet nulla hendrerit venenatis. Pellentesque vitae dui consequat, accumsan tortor at, laoreet eros. Class aptent taciti.
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span class="title-text"><a href="#">Frictial slip 4</a></span>
                        <span class="badge rounded-pill bg-warning">
                            <i class="fa-solid fa-lock"></i>
                            Restricted
                        </span>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span>R. van Elk (Developer)</span>
                        <span class="float-end">01-02-2022</span>
                    </h6>
                    <p class="card-text">
                        Nunc fringilla ligula non vehicula ultrices. Nulla eleifend condimentum nisi, interdum cursus metus pretium non. Pellentesque viverra orci sit amet nulla hendrerit venenatis. Pellentesque vitae dui consequat, accumsan tortor at, laoreet eros. Class aptent taciti.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}