.page {
    background: url('/assets/img/frontpage_banner.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
    position: relative;
}

.header-logo-text-background {
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, .7);
    right: 5%;
    padding: 15px 30px;
}

.header-logo-text-content, .header-logo-text-content a {
    color: #fff;
    overflow: hidden;
}

.tile {
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, .5);
    min-height: 200px;
}
