.header-logo {
    width: 100%;
    position: relative;
}

img.header-logo-img {
    display: inline;
    width: 100%;
    height: auto;
    clear: both;
}

.header-logo-text-background {
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, .5);
    right: 5%;
    padding: 15px 30px;
}

.header-logo-text-content {
    color: #fff;
    overflow: hidden;
}
