{% extends 'base.html' %}

{% block title %}{{ super() }} - Vault{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/vault.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.css') }}">
{% endblock style %}

{% block scripts %}
<script src="{{ url_for('static', filename='lib/purify-3.1.7/js/purify.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/vault.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/dlgSelectCollection.js') }}"></script>
<script>
        var browseStartDir = {{ dir | tojson }};
        var view = 'browse';
</script>
{% endblock scripts %}

{% block content %}

<div class="modal" id="dlg-select-folder">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="alert alert-warning hide" id="dlg-select-alert-panel">
                    <span></span>
                </div>

                <div class="card">
                    <div class="card-header clearfix">
                        <h5 class="card-title float-start">
                            Select folder to copy current datapackage
                        </h5>
                    </div>

                    <input type="hidden" id="restoration-objectid" value="">

                    <div class="card revision-restore-dialog">
                        <div class="card-body">
                            <ol class="breadcrumb dlg-breadcrumb">
                                <li class="active">Research</li>
                            </ol>

                            <table id="folder-select-browser" class="table yoda-table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Modified date</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-copy-package"><i class="fa-solid fa-copy" aria-hidden="true"></i> Copy package to research area</button>
            </div>
        </div>
    </div>
</div>

<div class="modal confirm-read-permissions" tabindex="-1" id="confirmRevokeReadPermissions">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Revoke Read Permissions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
            Are you sure you would like to revoke read permissions of members
            of this research group to this vault package?
        </p>
        <p>
            This will revoke read permissions to this package for all members
            of this research group.
        </p>
        <p>
            This is a reversible process.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary action-confirm-revoke-read-permissions">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal confirm-read-permissions" tabindex="-1" id="confirmGrantReadPermissions">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Grant Read Permissions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
            Are you sure you would like to grant read permissions to members
            of this research group to this vault package?
        </p>
        <p>
            This will grant read permissions to this package for all members
            of this research group.
        </p>
        <p>
            This is a reversible process.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary action-confirm-grant-read-permissions">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="submitPublication">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submit for publication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Submit this data package as a new publication or submit it as a new version of an existing publication from this vault.</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dataPackageSelect" id="dataPackage" value="" checked>
          <label class="form-check-label" for="dataPackage">
            New publication
          </label>
        </div>
        <hr>
        <p>Existing publications:</p>
        <div class="previousPublications"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary action-confirm-data-package-select">Next</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Agreement Conditions Modal -->
{% include 'vault/confirmation_modal.html' %}

<div class="modal" tabindex="-1" role="dialog" id="showChecksumReport">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Checksum report for <span class="collection"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    This overview shows files and their sizes and checksums and can be used to verify data integrity.
                    The checksum algorithm used is <a href="https://en.wikipedia.org/wiki/SHA-2" target="_blank" title="SHA-256 checksum algorithm">SHA-256</a>.
                </p>
                <div id="checksumReport"></div>
            </div>
            <div class="modal-footer">
                <span class="d-inline-block download-report-text" tabindex="0" data-bs-toggle="tooltip" title="No checksum report because folder is empty.">
                    <a href="#" class="btn btn-outline-secondary download-report-text">Download as text</a>
                </span>
                <span class="d-inline-block download-report-csv" tabindex="0" data-bs-toggle="tooltip" title="No checksum report because folder is empty.">
                    <a href="#" class="btn btn-outline-secondary download-report-csv">Download as CSV</a>
                </span>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="showUnpreservableFiles">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">File formats compliance with policy</h3>
                <div class="form-group">
                    <label for="file-formats-list">Select preservable file format list:</label>
                    <select class="form-control" id="file-formats-list">
                        <option value="" disabled selected>Select a file format list</option>
                    </select>
                </div>
                <p class="help"></p><br>
                <p class="advice"></p>
                <p class="checking">Checking files <i class="fa-solid fa-spinner fa-spin fa-fw"></i></p>
                <p class="preservable">
                    This folder does not contain files that are likely to become unusable in the future.
                </p>
                <div class="unpreservable">
                    <p>The following unpreservable file extensions were found in your dataset:</p>
                    <ul class="list-unpreservable-formats"></ul>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmDepublish">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Please confirm that you agree to depublish this datapackage.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary action-confirm-depublish-publication">Confirm depublish</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="vaultDownload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download datapackage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The data package will be archived in a bagit, which may be downloaded.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary action-confirm-vault-download">Confirm download</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="vaultArchival">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Archive datapackage to tape</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The data is not directly accessible after archiving. Please confirm that you agree to archive the datapackage to tape.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary action-confirm-vault-archival">Confirm archive</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="vaultUnarchive">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unarchive datapackage from tape</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The data is not directly accessible after unarchiving. Please confirm that you agree to unarchive the datapackage from tape.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary action-confirm-vault-unarchive">Confirm unarchive</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmRepublish">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Please confirm that you agree to republish this datapackage.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary action-confirm-republish-publication">Confirm republish</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb">
    <div class="breadcrumb-container">
        <a class="btn btn-sm btn-secondary float-end btn-go-to-research mt-2 me-2" data-bs-toggle="tooltip" data-bs-title="Go to research space of group" research-area="">Go to research</a>
        <a class="btn btn-sm btn-secondary float-end btn-go-to-group-manager mt-2 me-2"data-bs-toggle="tooltip" data-bs-title="Go to group in group manager" group="">Go to group manager</a>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Vault</li>
        </ol>
    </div>
</nav>

<div class="alert is-archived alert-info hide">
    This data package is archived on tape. Unarchive this data package to access the contents of this data package.
</div>

<div class="alert is-processing alert-info hide">
    This data package is being created, please come back later.
</div>

<section class="metadata-info container hide">
    <h3 class="metadata-title"></h3>
    <h5 class="metadata-creator mt-3"></h5>
    <div class="row pb-4 mb-3">
        <div class="metadata-form-size">
            <div class="row">
                <div class="meta-title-size col-lg-2">
                    <strong data-bs-toggle="tooltip" data-bs-title="Description of this data package">Description</strong>
                </div>
                <div class="meta-content-size col-lg-10">
                    <div class="metadata-description"></div>
                    <button type="button" class="btn read-more-button hide">Read full description...</button>
                    <button type="button" class="btn read-less-button hide">Collapse description...</button>
                </div>
            </div>
            <div class="row">
                <div class="meta-title-size col-lg-2">
                    <strong data-bs-toggle="tooltip" data-bs-title="Classification of data package with regard to information security policy">Data classification</strong>
                </div>
                <div class="meta-content-size col-lg-10">
                    <span class="metadata-data-classification"></span>
                </div>
            </div>
            <div class="row">
                <div class="meta-title-size col-lg-2">
                    <strong data-bs-toggle="tooltip" data-bs-title="Data package accessibility to third parties">Data package access</strong>
                </div>
                <div class="meta-content-size col-lg-10">
                    <span class="metadata-access"></span>
                </div>
            </div>
            <div class="row">
                <div class="meta-title-size col-lg-2">
                    <strong data-bs-toggle="tooltip" data-bs-title="The license under which this data package is available for use by third parties">License</strong>
                </div>
                <div class="meta-content-size col-lg-10">
                    <span class="metadata-license"></span>
                </div>
            </div>
        </div>
        <div class="version col-lg-4 hide">
            <div>
                <h6 class="ml-1"><strong>Versions</strong></h6>
                <table class="table table-sm">
                    <tbody>
                    </tbody>
                </table>
                <small class="base_doi hide">
                    <strong>Base DOI: </strong>
                    <span></span>
                    This DOI represents all versions of this publication and will resolve to the latest publication.
                </small>
            </div>
        </div>
    </div>
</section>

<div class="top-information text-right">
    <div class="top-info-buttons text-end">
        <h2 class="me-2 d-inline"></h2>
        <div class="btn-toolbar float-end d-inline" role="toolbar">
            <div class="btn-group me-2" role="group">
                <button type="button" class="btn btn-outline-secondary metadata-form" data-path="" data-bs-toggle="tooltip" data-bs-title="Show metadata form">Metadata</button>
            </div>
            <div class="btn-group">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="actionMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                    <div class="dropdown-menu action-list" role="menu"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card system-metadata mt-2">
        <div class="card-header">System Metadata</div>
        <div class="list-group system-metadata-items"></div>
    </div>
    <div class="card actionlog mt-2">
        <div class="card-header">Provenance Information</div>
        <div class="list-group actionlog-items"></div>
    </div>
</div>

<table id="file-browser" class="table yoda-table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Modified date</th>
        <th scope="col"></th>
    </tr>
    </thead>
</table>
{% endblock content %}
