<!-- Confirmation Agreement Conditions Modal -->
<div class="modal" tabindex="-1" role="dialog" id="confirmAgreementConditions">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <input type="checkbox" class="confirm-conditions" id="checkbox-confirm-conditions">
                            <label for="checkbox-confirm-conditions">Please confirm that you agree with the above</label>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary ms-2 action-confirm-submit-for-publication">Confirm agreement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
