{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; DAG Datapackage{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/vault.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='lib/leaflet/leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/datapackage.css') }}">
{% endblock style %}

{% block scripts %}
<script src="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/datapackage.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/dlgSelectCollection.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='lib/leaflet/leaflet.js') }}"></script>
<script>
        var browseStartDir = {{ dir | tojson }};
        var view = 'browse';
        var dpIsRestricted = {{ dp_is_restricted | tojson }};
        var dpReference = {{ reference | tojson }};
</script>
{% endblock scripts %}

{% block content %}

<div class="modal" tabindex="-1" role="dialog" id="viewMap">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-map-title">Modal title</h5>
            </div>

            <div class="modal-body text-center">
                <div class="map" id="map1"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmCopyAsNewDeposit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-map-title">Copy data package to as new deposit</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dlg-deposit-copy-text">Are you sure you want to copy this data package as a new deposit?</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <span class="dlg-deposit-copy-result">
                            <button type="button" class="btn btn-primary ms-2 action-confirm-copy-as-new-deposit" data-yoda-reference="{{ reference }}">Copy</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between bg-gray pt-2 pb-2">
        <div class="col-4">
            DAG Datapackage
        </div>
        <div class="col-4">
            {% if dp_is_restricted %}
            <a class="btn btn-light float-end" href="https://dag.sites.uu.nl/search/datapackage-request-access/" target="_blank" title="How to request for access for this restricted datapackage"><i class="fa fa-info-circle"></i> Request access</a>
            {% else %}
            <a class="btn btn-light float-end" href="https://dag.sites.uu.nl/find-and-retrieve-data/" target="_blank" title="Guidance"><i class="fa fa-info-circle"></i> Guidance</a>
            <button type="button" class="btn btn-secondary float-end btn-copy-as-new-deposit me-2"><i class="fa fa-copy"></i> Copy as a new deposit</button>
            {% endif %}
        </div>
    </div>
</div>

<section class="metadata-info container mt-4">
    <div class="row justify-content-between">
        <div class="col-8 fw-bold metadata-creator">
        </div>
        <div class="col-4">
            {% if not dp_is_restricted %}
            <a  href="/vault/browse?dir={{ dir|urlencode }}" class="btn btn-primary float-end btn-show-file-browser"><i class="fa fa-folder-open"></i> Access data</a>
            {% endif %}

            <span class="metadata-access"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col fw-bold metadata-title">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="metadata-description"></div>
            <button type="button" class="btn read-more-button p-0 hide">Read full description...</button>
            <button type="button" class="btn read-less-button p-0 hide">Collapse description...</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-2">
            <strong>Identifier  <i class="fa-solid fa-question-circle" aria-hidden="true" title="A unique identification, which can be considered as a reference to the datapackage and comes with a clickable link. Note: the reference and corresponding link can only be used by authenticated users of the Faculty of Geosciences to consult the data package."></i></strong>
        </div>
        <div class="col">
            <span class="metadata-identifier">{{ url_for('vault_bp.metadata', _external=True, reference=reference) }}</span>
            <button type="button" class="btn btn-secondary btn-sm float-end btn-copy-to-clipboard"><i class="fa fa-copy"></i> Copy to clipboard</button>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Keywords <i class="fa-solid fa-question-circle" aria-hidden="true" title="Free text for adding (searchable) key words to your data package"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Tag"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Research Group <i class="fa-solid fa-question-circle" aria-hidden="true" title="The research group responsible for the data package"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Research_Group"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Project <i class="fa-solid fa-question-circle" aria-hidden="true" title="Identification of the Program or Project responsible for collecting the data"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Collection_Name"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Owners <i class="fa-solid fa-question-circle" aria-hidden="true" title="The person(s) within the faculty responsible for collecting the data"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Creator"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Contact person <i class="fa-solid fa-question-circle" aria-hidden="true" title="Person performing the deposit will also act as first contact person"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Contributor"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Research period <i class="fa-solid fa-question-circle" aria-hidden="true" title="Start and end of the period collecting the data for this data package"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Collected"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Geo Locations <i class="fa-solid fa-question-circle" aria-hidden="true" title="Location where the data is collected, in an appropriate level of detail in respect to the research type"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="GeoLocation"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>References <i class="fa-solid fa-question-circle" aria-hidden="true" title="Reference to other resources, such as another data package, or an online publication"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Related_Datapackage"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Personal data <i class="fa-solid fa-question-circle" aria-hidden="true" title="How is the data classified with regard to information security policy"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Data_Classification"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Deposit date <i class="fa-solid fa-question-circle" aria-hidden="true" title="The date that the datapackage was deposited into the archive"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="deposit_date"></span>
        </div>
    </div>

    <div class="row mt-2 hidden">
        <div class="col-2">
            <strong>Retention period <i class="fa-solid fa-question-circle" aria-hidden="true" title="The minimum number of years the data must be kept"></i></strong>
        </div>
        <div class="col">
            <span class="metadata" data-dp-attr="Retention_Period"></span>
        </div>
    </div>
</section>

<div class="breadcrumbs-browser hide">
    <table id="file-browser" class="table yoda-table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Modified date</th>
            <th scope="col"></th>
        </tr>
        </thead>
    </table>
</div>
{% endblock content %}
