<div class="modal" tabindex="-1" role="dialog" id="vault-request-deaccession">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deaccession of data package</h5>
            </div>
            <div class="modal-body">
                <p>
                Please fill in this form completely to submit the deaccession request.
                </p>
                <form id="deaccess-request-form">
                    <p>What is the reason for the deaccession request?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="deaccess-reason" id="reason-end-retention-period">
                        <label class="form-check-label" for="reason-end-retention-period">
                            End of retention period
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="deaccess-reason" id="reason-other">
                        <label class="form-check-label" for="reason-other">
                            Other
                        </label>
                        <input type="text" class="form-control" id="deaccess-reason-input" aria-describedby="deaccess-reason-help">
                    </div>

                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" value="" id="deaccess-high-value-check">
                        <label class="form-check-label" for="deaccess-high-value-check">
                            I confirm that there is no heritage or high value data in this package.
                        </label>
                    </div>

                    <p>As part of the deaccession process, permission from the data collector is required if the data collector is known.
                    Were you able to locate the data collector? </p>
                    <div class="form-check" id="found-data-collector-true-block">
                        <input class="form-check-input" type="radio" name="found-data-collector-radio" id="found-data-collector-true">
                        <label class="form-check-label" for="found-data-collector-true">
                            Yes
                        </label>
                    </div>
                    <div class="form-check" id="found-data-collector-false-block">
                        <input class="form-check-input" type="radio" name="found-data-collector-radio" id="found-data-collector-false">
                        <label class="form-check-label" for="found-data-collector-false">
                            No
                        </label>
                    </div>

                    <div class="mb-3 form-check" id="deaccess-data-collector-check-block">
                        <input class="form-check-input" type="checkbox" value="" id="deaccess-data-collector-check">
                        <label class="form-check-label" for="deaccess-data-collector-check">
                            I have received permission from the data collector to request deaccession of this data package.
                        </label>
                    </div>

                    <div class="mb-3 form-check" id="deaccess-data-collector-absence-check-block">
                        <input class="form-check-input" type="checkbox" value="" id="deaccess-data-collector-absence-check">
                        <label class="form-check-label" for="deaccess-data-collector-absence-check">
                            In the absence of the data collector, I request deaccession for this data package.
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-confirm-deaccession-submit" form="deaccess-request-form" data-path="">Request deaccession</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="vault-approve-deaccession">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deaccession of data package</h5>
            </div>
            <div class="modal-body">
                <p>
                You can approve or deny this request. The reason for deaccessioning the data package is:
                </p>

                <p><mark id="deaccess-reason-readonly"></mark></p>

                <p>
                The data manager has confirmed that they have tried to locate the data collector. If the data collector was still available,
                the data manager has received permission to request deaccession of the data. If the data collector was not available, the
                data manager gives permission for the request.
                </p>

                <p>
                The data manager confirms that there is no heritage or high value data in this package.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-confirm-folder-deaccession-deny" data-path="">Deny deaccession</button>
                <button type="button" class="btn btn-primary btn-confirm-folder-deaccession-approve" data-path="">Approve deaccession</button>
            </div>
        </div>
    </div>
</div>
