{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Research{% endblock %}

{% block scripts %}
<script>
    var formLoaded = false;
</script>
<script src="{{ url_for('vault_bp.static', filename='js/metadata-form.js') }}" async></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/metadata/form.css') }}">
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/metadata/leaflet.css') }}">
{% endblock %}

{% block content %}
<div id="form-errors" class="row hide">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header clearfix">
                <h3 class="card-title pull-left">
                    Metadata form - {{ path | trim | safe }}
                </h3>
                <div class="input-group-sm has-feedback pull-right">
                    <a class="btn btn-secondary" href="/vault/browse?dir={{ path | urlencode | replace("/", "%2F") }}">Close</a>
                </div>
            </div>
            <div class="card-body">
                <p>
                    It is not possible to load this form as the yoda-metadata.json file is not
                    in accordance with the form definition.
                </p>
                <p>
                    Please check the following in your JSON file:
                </p>
                    <ul class="error-fields"></ul>
            </div>
        </div>
    </div>
</div>

<div id="metadata-form" class="row hide">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title pull-left">
                    Metadata form - {{ path | trim | safe }}
                </h5>
                <div class="input-group-sm has-feedback pull-right close-button">
                    <a class="btn btn-light btn-sm" href="/vault/browse?dir={{ path | urlencode | replace("/", "%2F") }}">Close</a>
                </div>
            </div>
            <div class="card-body">
                <div id="no-metadata" class="hide">
                    <p>There is no metadata present for this folder.</p>
                </div>
                <div id="form"
                     data-path="{{ path | safe }}">
                    <p>Loading metadata <i class="fa fa-spinner fa-spin fa-fw"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
