{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Vault METADATA DAG{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/vault.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.css') }}">
{% endblock style %}

{% block scripts %}
<script src="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/metadata.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/dlgSelectCollection.js') }}"></script>
<script type="text/javascript">
        var browsePageItems = {{ items }};
        var browseStartDir = {{ dir | tojson }};
        var browseDlgPageItems = {{ items }};
        var view = 'browse';
</script>
{% endblock scripts %}

{% block content %}


<div class="modal" tabindex="-1" role="dialog" id="viewMedia">
    <div class="modal-dialog mw-100 w-50">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="viewer"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="metadata-info container hide">
    <h5 class="metadata-creator mt-3">

    <h3 class="metadata-title"></h3>
    <a class="btn btn-primary pull-right btn-show-file-browser"><i class="fa fa-folder-open"></i> Access data</a>

<div class="metadata-details">

    <p class="metadata-description"></p>

    <div class="row">
        <div class="col-lg-2">
            <strong>Identifier</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-identifier">{{ url_for('vault_bp.resolve', _external=True, reference=yoda_id) }}</span>
            <button class="btn btn-secondary btn-copy-to-clipboard">Copy to clipboard</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Keywords</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-keywords"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Research Group</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-research-group"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Project</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-project"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Owners</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-owners"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <strong>Contact person</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-contact-person"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Research period</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-research-period"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Geo Locations</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-geo-locations"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>References</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-references"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Personal data</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-personal-data"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Deposit date</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-deposit-date"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Retention period</strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-retention-period"></span>
        </div>
    </div>

</div>
<!---
    <div class='row'><hr></div>

    <div class="row">
        <div class="col-lg-2">
            <strong>Description <i class="fa fa-question-circle" aria-hidden="true" title="Description of this data package"></i></strong>
        </div>
        <div class="col-lg-10">
            <div class="metadata-description"></div>
            <button class="btn read-more-button hide" role="button">Read full description...</button>
            <button class="btn read-less-button hide" role="button">Collapse description...</button>
        </div>
    </div>
--->
</section>

<div class='breadcrumbs-browser hidden'>
    <nav aria-label="breadcrumb flex-column">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Vault</li>
        </ol>
    </nav>

    <table id="file-browser" class="table yoda-table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Modified date</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
{% endblock content %}
