{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Search{% endblock title %}

{% block scripts %}
<script src="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.js') }}"></script>
<script src="{{ url_for('search_bp.static', filename='js/revision.js') }}"></script>
<script src="{{ url_for('search_bp.static', filename='js/search.js') }}"></script>
{% endblock scripts %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('search_bp.static', filename='css/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.css') }}">
{% endblock style %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="input-group mb-3">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="search_concept" data-type="{{ searchType }}">Search by filename</span>
            </button>
            <ul id="search-panel" class="dropdown-menu">
                <li><a class="dropdown-item" data-type="filename">Search by filename</a></li>
                <li><a class="dropdown-item" data-type="folder">Search by folder</a></li>
                <li><a class="dropdown-item" data-type="metadata">Search by metadata</a></li>
                <li><a class="dropdown-item" data-type="status">Search by status</a></li>
                <li><a class="dropdown-item" data-type="revision">Search revision by name</a></li>
            </ul>
            <input type="text" class="form-control search-term" id="search-filter" placeholder="Search term..." value="{{ searchTerm }}" maxlength="255">
            <button type="button" class="btn btn-outline-secondary search-term" data-items-per-page="25"><i class="fa-solid fa-search" aria-hidden="true"></i></button>

            <select name="status" class="form-control search-status hide">
                <option disabled selected value>Select status...</option>
                <optgroup label="Research">
                    <option value="research:LOCKED">Locked</option>
                    <option value="research:SUBMITTED">Submitted for vault</option>
                    <option value="research:ACCEPTED">Accepted for vault</option>
                    <option value="research:REJECTED">Rejected for vault</option>
                    <option value="research:SECURED">Secured in vault</option>
                </optgroup>
                <optgroup label="Vault">
                    <option value="vault:UNPUBLISHED">Unpublished</option>
                    <option value="vault:SUBMITTED_FOR_PUBLICATION">Submitted for publication</option>
                    <option value="vault:APPROVED_FOR_PUBLICATION">Approved for publication</option>
                    <option value="vault:PUBLISHED">Published</option>
                    <option value="vault:DEPUBLISHED">Depublished</option>
                </optgroup>
            </select>
        </div>

        <div class="search-results">
            <table class="table yoda-table table-bordered" id="search">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="revision-results">
            <p class="alert-card-main hide">
                <i class="fa-solid fa-check"></i> Your file was successfully restored!
            </p>

            <table id="file-browser" class="table yoda-table table-bordered" role="grid">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number of revisions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="select-folder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select folder to restore revision</h5>
                <input type="hidden" id="restoration-objectid" value="">
                <input type="hidden" id="org_folder_select_path" value="">
                <input type="hidden" id="org_folder_select_filename" value="">
            </div>
            <div class="modal-body">
                <p class="alert-folder-select">ALERT SECTION</p>

                <div class="cover-browse-elements">
                    <!--- BREADCRUMS -->
                    <div class="row d-block">
                        <nav aria-label="breadcrumb flex-column">
                            <ol class="breadcrumb dlg-breadcrumb">
                                <li class="breadcrumb-item">Home</li>
                            </ol>
                        </nav>
                    </div>

                    <!--- FOLDER SELECTION-->
                    <div class="row d-block">
                        <table id="folder-browser" class="table yoda-table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Modified date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-restore"><i class="fa-solid fa-magic" aria-hidden="true"></i> Restore</button>
            </div>

            <!--- CoverALL Second dialog for handling of duplicate situations -->
            <div id="coverAll" class="cover restore-exists hide">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">The file already exists in the selected folder</h5>
                    </div>
                    <div class="card-body">
                        <p class="alert-dlg-already-exists"></p>
                        <h6 class="card-title">Please choose to overwrite or rename current file:</h6>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <form id="form-restore-overwrite">
                                    <div class="row d-block">
                                        <p>1. Overwrite this file</p>
                                    </div>
                                    <div class="row d-block">
                                        <p>
                                            <button type="button" class="btn btn-danger" id="btn-restore-overwrite">Overwrite</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="form-inlineblabla">
                                    <div class="row d-block">
                                        <p>2. Enter new name filename</p>
                                    </div>
                                    <div class="row d-block">
                                        <p>
                                            <input type="text"  class="form-control" placeholder="Enter new filename" id="newFileName">
                                            <button type="button" class="btn btn-primary" id="btn-restore-next-to">Restore with a new filename</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <button type="button" class="btn btn-secondary float-end" id="btn-cancel-overwrite-dialog">Cancel restoring at current location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
