{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit &dash; Add data{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='lib/stepper/bs-stepper.custom.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock style %}

{% block scripts %}
<script>
    var path = {{ path|tojson|safe }};
    var view = 'browse';
</script>
<script src="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='lib/flow-js/flow.min.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='lib/dragbetter-js/jquery.dragbetter.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='js/data.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='js/dlgFileBrowseOperations.js') }}"></script>
{% endblock scripts %}

{% block content %}
{% with step=1 %}
{% include 'deposit/workflow.html' %}
{% endwith %}


<div id="uploads" class="hidden fixed-bottom w-75">
    <div class="modal-dialog mw-100 w-75">
        <div class="modal modal-content">
            <div class="modal-header" id="uploads_header">
                <div class="col-md-6">
                    <h5 class="modal-title">Uploads
                        <span class="uploads-progress-information"></span>
                    </h5>
                </div>
                <div class="col-md-3">
                    <div class="progress position-relative">
                        <div class="progress-bar progress-bar-striped bg-info uploads-total-progress-bar" style="width: 0%;"></div>
                        <small class="justify-content-center d-flex position-absolute w-100 uploads-total-progress-bar-perc"></small>
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-uploads-overview" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
            </div>
            <div class="modal-body">
                <div id="files"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-uploads-overview" data-bs-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 mb-1">
    <div class="col-9">
        <h2>Upload data</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-secondary float-end" href="https://dag.sites.uu.nl/depositing-data/during-depositing/" target="_blank" title="Guidance"><i class="fa-solid fa-info-circle"></i> Guidance</a>
    </div>
</div>

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">My deposits</li>
        </ol>
    </nav>

    <div class="col-md-12">
        <div class="btn-toolbar float-end" role="toolbar">
            <div class="btn-group pe-0" role="group">
                <button type="button" class="btn btn-outline-secondary folder-create me-2" data-path="" title="Create a new folder"><i class="fa-solid fa-folder px-2" aria-hidden="true"></i> Create Folder</button>
                <button type="button" class="btn btn-outline-secondary upload me-2" data-path="" title="Upload files"><i class="fa-solid fa-file-arrow-up" aria-hidden="true"></i> Upload files</button>
                <button type="button" class="btn btn-outline-secondary upload-folder" data-path="" title="Upload folders"><i class="fa-solid fa-upload" aria-hidden="true"></i> Upload folders</button>
            </div>

            <div class="btn-group ms-2">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" title="Actions menu" id="actionMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu action-list" role="menu"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row d-block">
            <table id="file-browser" class="table yoda-table table-striped upload-drop" ondrop="dropHandler(event);" ondragenter="dragEnterHandler(event);" ondragend="dragEndHandler(event);">
                <thead>
                <tr>
                    <th scope="col">
                        <input class="form-check-input" type="checkbox" id="multi-select-all">
                        <div class="dropdown float-end">
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle hide" data-bs-toggle="dropdown" id="multiSelect" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="multiSelect">
                                <a class="dropdown-item multiple-move" title="Move">Move</a>
                                <a class="dropdown-item multiple-copy" title="Copy">Copy</a>
                                <a class="dropdown-item multiple-delete" title="Delete">Delete</a>
                            </div>
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Modified date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <a class="btn btn-primary mt-3 float-end btn-document-data" href="/deposit/metadata?dir={{ path|urlencode }}" title="Document your data">Add metadata <i class="fa-solid fa-chevron-right"></i></a>
    </div>
</div>

<div class="card upload-large-files mt-4">
    <div class="card-header">
        Alternative upload methods
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h5>Yoda iCommands</h5>
                <p>
                    For frequent large uploads (bigger than 5GB) we recommend using the iCommands.
                    The iCommands allows you to interact with the iRODS backend of Yoda directly.
                    Therefore, it is possible to transfer data to and from Yoda using the iRODS communication protocol.
                    You need to configure the iCommands to connect to this Yoda environment.
                </p>
                <a href="#" title="iCommands configuration" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutModal">iCommands Configuration</a>
                <a href="https://www.uu.nl/en/research/yoda/guide-to-yoda/i-am-using-yoda/using-icommands-for-large-datasets" title="Using iCommands for large datasets" class="btn btn-sm btn-secondary" target="_blank">More information</a>
            </div>
            <div class="col-sm-6">
                <h5>Yoda network disk / WebDAV</h5>
                <p>
                  Useful for large files and when you need to be able to connect to multiple Yoda environments simultaneously.<br>
                  See the menu links on the left for Windows, MacOS and Linux software.
                </p>
                <a href="https://www.uu.nl/en/research/yoda/guide-to-yoda/i-want-to-start-using-yoda/connecting-to-the-yoda-network-disk-on-windows" title="Yoda network disk / WebDAV" class="btn btn-sm btn-secondary" target="_blank">More information</a>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal" tabindex="-1" role="dialog" id="folder-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Create new folder in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-folder-create">
                    <span></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Folder name</span>
                    </div>
                    <input type="text" class="form-control" id="path-folder-create" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Close modal">Close</button>
                <button type="button" class="btn btn-primary btn-confirm-folder-create" title="Create new folder" data-path="">Create new folder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="folder-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete folder in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-folder-delete">
                    <span></span>
                </div>
                <p>Do you want to delete folder <span id="folder-delete-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm-folder-delete" data-collection="" data-name="" title="Delete folder">Delete folder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="folder-rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Rename folder in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-folder-rename">
                    <span></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">New folder name</span>
                    </div>
                    <input type="hidden" id="org-folder-rename-name" value="">
                    <input type="text" class="form-control" id="folder-rename-name" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm-folder-rename" data-collection="" title="Rename folder">Rename folder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="file-rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Rename file in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-file-rename">
                    <span></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">New file name</span>
                    </div>
                    <input type="hidden" id="org-file-rename-name" value="">
                    <input type="text" class="form-control" id="file-rename-name" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm-file-rename" data-collection="" title="Rename file">Rename file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="file-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete file in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-file-delete">
                    <span></span>
                </div>
                <p>Do you want to delete file <span id="file-delete-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm-file-delete" data-collection="" data-name="" title="Yes delete file">Delete file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="dlg-file-browse-operations">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card-body">
                <div class="alert alert-warning hide" id="dlg-select-alert-panel">
                    <span></span>
                </div>
                <div class="card">
                    <div class="card-header clearfix">
                        <h5 class="card-title float-start">Select folder to <span class="action"></span> <span class="action-file"></span></h5>
                    </div>
                    <input type="hidden" id="restoration-objectid" value="">
                    <div class="card">
                        <div class="card-body">
                            <ol class="breadcrumb dlg-breadcrumb">
                                <li class="active">Home</li>
                            </ol>
                            <table id="folder-select-browser" class="table yoda-table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Modified date</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary dlg-action-button" data-action="" data-name="" data-collection="" data-overwrite=""><span class="action"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="multi-select-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete selected items in <span class="collection"></span></h5>
                <p>Do you want to delete the selected items?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary dlg-action-button" data-action="multiple-delete" title="Yes delete items">Delete selected items</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="mutli-select-progress" data-action="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="card">
                    <div class="card-header clearfix">
                        <h5 class="card-title float-start">
                            <span class="action"></span> selected items
                        </h5>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered multi-select-table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Progress</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="finishMultiSelect" data-bs-dismiss="modal" title="Close">Close</button>
                <button type="button" class="btn btn-primary dlg-multi-action-button hidden"><span class="action"></span></button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="showChecksumReport">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Checksum report for <span class="collection"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    This overview shows files and their sizes and checksums and can be used to verify data integrity.
                    The checksum algorithm used is <a href="https://en.wikipedia.org/wiki/SHA-2" target="_blank" title="SHA-256 checksum algorithm">SHA-256</a>.
                </p>
                <div id="checksumReport"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-secondary download-report-text">Download as text</a>
                <a href="#" class="btn btn-outline-secondary download-report-csv">Download as CSV</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
