{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/upload.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('deposit_bp.static', filename='lib/flow-js/flow.min.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='js/upload.js') }}"></script>
{% endblock %}

{% block content %}
{% with step=1 %}
    {% include 'deposit/workflow.html' %}
{% endwith %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title pull-left">Deposit your data</h5>
    </div>
    <div class="card-body">
        <div id="flow_upload">
            <div class="flow-drop" ondragenter="jQuery(this).addClass('flow-dragover');" ondragend="jQuery(this).removeClass('flow-dragover');" ondrop="jQuery(this).removeClass('flow-dragover');">
                Drop files or folders here to upload or <a class="flow-browse-folder"><u>select folders</u></a> or <a class="flow-browse"><u>select files</u></a> from your computer
            </div>
            <ul class="flow-list"></ul>
        </div>
        <br />
        <a class="btn btn-primary pull-right" href="/deposit/metadata">Add metadata</a>
    </div>
</div>

<div id="path" style="display:none;">{{ path|safe }}</div>

{% endblock %}
