{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/upload.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('deposit_bp.static', filename='lib/flow-js/flow.min.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='js/upload.js') }}"></script>
{% endblock %}

{% block content %}

<h1 style="margin: 40px 0;">Deposit your data</h1>
<p>You can deposit your data with the following steps:</p>
<ol>
    <li>Upload</li>
    <li><a href="/deposit/metadata/form">Add metadata</a></li>
    <li>Submit</li>
</ol>

<div id="flow_upload">
    <h1>Drag & Drop upload files</h1>
    <div class="flow-drop" ondragenter="jQuery(this).addClass('flow-dragover');" ondragend="jQuery(this).removeClass('flow-dragover');" ondrop="jQuery(this).removeClass('flow-dragover');">
        Drop files or folders here to upload or <a class="flow-browse-folder"><u>select folders</u></a> or <a class="flow-browse"><u>select files</u></a> from your computer
    </div>
    <ul class="flow-list"></ul>
</div>

<h1 style="margin-top:40px;">Metadata</h1>
<p>
    <a href="/deposit/metadata/form?path=/research-initial">&gt;&gt; Add metadata</a>
</p>

<div id="path" style="display:none;">{{ path | safe }}</div>

{% endblock %}
