{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit &dash; Document data {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='lib/sweetalert/sweetalert.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/metadata/form.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/metadata/leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='lib/stepper/bs-stepper.custom.css') }}">
{% endblock style %}

{% block scripts %}
<script src="{{ url_for('deposit_bp.static', filename='lib/sweetalert/sweetalert.min.js') }}"></script>
<script>
    var formLoaded = false;
</script>
<script src="{{ url_for('deposit_bp.static', filename='js/metadata-form.js') }}" async></script>
{% endblock scripts %}

{% block content %}
{% with step=2 %}
    {% include 'deposit/workflow.html' %}
{% endwith %}

<div class="row mt-2 mb-1">
    <div class="col-9">
        <h2>Document data</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-light float-end" href="https://dag.sites.uu.nl/depositing-data/during-depositing/" target="_blank" title="Guidance"><i class="fa-solid fa-info-circle"></i> Guidance</a>
    </div>
</div>
<div id="form-errors" class="row hide">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header clearfix">
                <h5 class="card-title float-start">Metadata form has errors</h5>
                <div class="input-group-sm has-feedback float-end"><a class="btn btn-secondary" href="/deposit/metadata/" title="Close modal">Close</a></div>
            </div>
            <div class="card-body">
                <p>It is not possible to load this form as the yoda-metadata.json file is not in accordance with the form definition.</p>
                <p>Please check the following in your JSON file:</p>
                <ul class="error-fields"></ul>
                <p>
                    When using the 'Delete all metadata' button beware that you will lose all metadata!
                    <button type="button" class="btn btn-small btn-danger delete-all-metadata-btn float-end" title="Delete all metadata">Delete all metadata</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="metadata-form" class="row page_deposit_metadata">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="no-metadata" class="hide">
                    <p>There is no metadata present for this folder.</p>
                </div>
                <div id="form"
                     data-path="{{ path | safe }}">
                    <p>Loading metadata <i class="fa-solid fa-spinner fa-spin fa-fw"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
