{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit xx{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='lib/sweetalert/sweetalert.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/metadata/form.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/metadata/leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='lib/stepper/bs-stepper.custom.css') }}">
<style>
@media (min-width: 1400px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1390px !important;
    }
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('deposit_bp.static', filename='lib/sweetalert/sweetalert.min.js') }}"></script>
<script>
    var formLoaded = false;
</script>
<script src="{{ url_for('deposit_bp.static', filename='js/metadata-form.js') }}" async></script>
{% endblock %}

{% block content %}
{% with step=2 %}
    {% include 'deposit/workflow.html' %}
{% endwith %}

<div id="form-errors" class="row hide">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header clearfix">
                <h5 class="card-title pull-left">Metadata form has errors</h5>
                <div class="input-group-sm has-feedback pull-right"><a class="btn btn-secondary" href="/deposit/metadata">Close</a></div>
            </div>
            <div class="card-body">
                <p>It is not possible to load this form as the yoda-metadata.json file is not in accordance with the form definition.</p>
                <p>Please check the following in your JSON file:</p>
                <ul class="error-fields"></ul>
                <p>
                    When using the 'Delete all metadata' button beware that you will lose all metadata!
                    <button type="button" class="btn btn-small btn-danger delete-all-metadata-btn pull-right">Delete all metadata</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="metadata-form" class="row page_deposit_metadata">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title pull-left" style="margin:7px 0;">Metadata for your deposit</h5>
<!--                <button type="button" class="btn btn-outline-secondary deposit-clear pull-right" title="Clear deposit"><i class="fa fa-trash" aria-hidden="true"></i> Clear deposit</button>-->
            </div>
            <div class="card-body">
                <div id="no-metadata" class="hide">
                    <p>There is no metadata present for this folder.</p>
                </div>
                <div id="form"
                     data-path="{{ path | safe }}">
                    <p>Loading metadata <i class="fa fa-spinner fa-spin fa-fw"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
