{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit &dash; My deposits{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/overview.css') }}">
{% endblock style %}

{% block scripts %}
<script>
    var view = 'browse';
</script>
<script src="{{ url_for('static', filename='lib/datatables-1.13.5/datatables.min.js') }}"></script>
<script src="{{ url_for('deposit_bp.static', filename='js/overview.js') }}"></script>
{% endblock scripts %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>My pending deposits</h2>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-end" id="deposit-create-start" href="#" title="Start new deposit">Start new deposit</a>
        <a class="btn btn-secondary float-end me-3" href="https://dag.sites.uu.nl/depositing-data/during-depositing/" target="_blank" title="Guidance"><i class="fa-solid fa-info-circle"></i> Guidance</a>
    </div>

    <div class="mt-3">
        <table id="file-browser" class="table yoda-table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Access</th>
                <th scope="col">Size</th>
                <th scope="col">Modified date</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modals -->
<div class="modal" tabindex="-1" role="dialog" id="deposit-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Create new deposit</h5>
                <p>For which deposit group would you like to create a new deposit?</p>
                <div id="radio-button-deposit-groups"></div>
            </div>
            <div class="modal-footer">
                <form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                    <a type="submit" role="button" class="btn btn-primary btn-confirm-deposit-create" data-group="" href="/deposit/data?group=deposit-othergroup" title="Create deposit">Create deposit</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deposit-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete deposit</h5>
                <div class="alert alert-warning" id="alert-panel-deposit-delete">
                    <span></span>
                </div>
                <p>Do you want to delete deposit <span id="deposit-delete-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm-deposit-delete" data-collection="" data-name="" title="Delete deposit">Delete deposit</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
