{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% with step=3 %}
        {% include 'deposit/workflow.html' %}
    {% endwith %}

    <div class="card page_deposit_submit">
        <div class="card-header">
            <h5 class="card-title pull-left">Submit your data package</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="accept_terms" name="accept_terms">
                  <label class="form-check-label" for="accept_terms">I accept the terms and conditions</label>
                </div>
                <p>If you want to cancel the deposit click <a href="xx">here</a>. This will delete all files and folders uploaded.</p>
                <br />
                <a href="/deposit/metadata" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
