{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <h1 style="margin:40px 0;">Submit Deposit</h1>
    <p>Submit your deposit here to location: <em>(path)</em></p>
    <form method="post">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="accept_terms" name="accept_terms">
          <label class="form-check-label" for="accept_terms">I accept the terms and conditions</label>
        </div>
    </form>

{% endblock %}
