{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit &dash; Thank you{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <div class="card page_deposit_thankyou">
        <div class="card-header">
            <h5 class="card-title pull-left">Thank you!</h5>
        </div>
        <div class="card-body">
            <p>Thank you for your deposit!</p>
            <p>We are preparing your data package! You will receive a <a href="{{ url_for('user_bp.notifications') }}">notification</a> message when your datapackage is ready!</p>
        </div>
    </div>
{% endblock %}
