{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Deposit{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/deposit.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('deposit_bp.static', filename='js/deposit.js') }}"></script>
{% endblock %}

{% block content %}

{% if g.user %}
    <h1 style="margin:40px 0;">Thank you for submitting</h1>
{% else %}
    <p>You have no access to the deposit submit page - please log in.</p>
{% endif %}


{% endblock %}
