{% extends 'base.html' %}

{% block title %}{{ super() }} - Deposit - Thank you{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('deposit_bp.static', filename='css/deposit.css') }}">
{% endblock style %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

<div class="row mt-2 mb-1">
    <div class="col-9">
        <h2>Thank you!</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-secondary float-end" href="https://dag.sites.uu.nl/depositing-data/during-depositing/" target="_blank" title="Guidance"><i class="fa-solid fa-info-circle"></i> Guidance</a>
    </div>
</div>

<div class="card mt-4 page_deposit_thankyou">
    <div class="card-body">
        <p>Thank you for your deposit!</p>
        <p>We are preparing your data package! You will receive a <a href="{{ url_for('user_bp.notifications') }}">notification</a> message with Yoda when your datapackage is ready! This can take minutes for large submissions.</p>
        <p>You can see your <a href="{{ url_for('user_bp.notifications') }}" title="Click to view notifications">notifications</a> in the dropdown in the top right corner.</p>
    </div>
</div>
{% endblock content %}
