<div class="card-group" style="margin-bottom:10px;">
  <div class="card {% if step == 1 %}bg-primary{% endif %}">
    <a href="/deposit/" class="card-body" style="display:block;">
      <h5 class="card-title">1. Deposit data</h5>
      <p class="card-subtitle">Easily add files and folders to submit as a datapackage.</p>
    </a>
  </div>
  <div class="card {% if step == 2 %}bg-primary{% endif %}">
    <a href="/deposit/metadata/" class="card-body" style="display:block;">
      <h5 class="card-title">2. Add metadata</h5>
      <p class="card-subtitle">Add metadata about your deposit.</p>
    </a>
  </div>
  <div class="card {% if step == 3 %}bg-primary{% endif %}">
    <a href="/deposit/submit/" class="card-body" style="display:block;">
      <h5 class="card-title">3. Submit</h5>
      <p class="card-text">Submit your deposit.</p>
    </a>
  </div>
</div>
