.hide {
    display: none;
}

#form .yoda-array-field legend {
    float: none !important;
    padding: 0.2em 0.5em;
    font-size: 100%;
    width: revert;
}

#form label {
    margin-bottom: 0.5rem;
}

#form .form-text {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.775em !important;
}

#form .d-flex, #form  .col {
    padding: 0 15px;
}
