@import "helpers";
@import "form";
@import "footer";
@import "links";
@import "navbar";


/* Logo */
.logo {
    background-image: url("/assets/img/logo.svg");
    background-repeat: no-repeat;
    width: 190px;
    display: block !important;
    height: 48px;
}

/* Breadcrumb */
.breadcrumb-container {
    background-color: $breadcrumb-bg;
}

// Dark theme specific settings
[data-bs-theme="dark"] {
    /* Logo */
    .logo {
        background-image: url("/assets/img/logo_dark.svg");
        background-repeat: no-repeat;
        background-size: 140.6px 48px;
        display: block !important;
    }

    /* Tables */
    .yoda-table th {
        color: var(--bs-card-color);
        background: var( --bs-dark-bg-subtle);
    }

    #file-browser th {
        background: var( --bs-dark-bg-subtle);
        border-color: var( --bs-dark-bg-subtle);
        border-bottom: 1px solid transparent;
        color: var(--bs-card-color);
    }

    .dataTables_wrapper .dataTables_info {
        color: var(--bs-white);
    }

    /* Select 2 selectors */
    .select2-container, .select2-search-container, .select2-input, .select2-chosen, .select2-drop, .select2-drop-mask {
        color: var(--bs-body-color);
        background: var(--bs-body-bg);
    }

    .select2-container .select2-choice > .select2-chosen {
        color: var(--bs-body-color);
        background: var(--bs-body-bg);
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
    }

    /* Sweetalert selectors */
    .sweet-alert {
        background-color: var(--bs-body-bg);
    }

    /* Group manager group properties header */
    #properties-update-link {
        color: var(--bs-card-title-color);
    }
}
