{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Data Access Tokens{% endblock %}

{% block scripts %}
    <script src="{{ url_for('user_bp.static', filename='js/data_access.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Data Access Password</h1>

<div class="card">
    <div class="card-header">
        Data Access Tokens
    </div>
    <div class="card-body">
		<a href="{{ url_for('user_bp.token_generation') }}" class="btn btn-primary mb-4">Create new token</a>
        <div class="list-group">
            {% for t in tokens %}
            <div class="list-group-item d-inline-flex">
                <label class="col-sm-6">{{ t.label }}</label>
                <span class="col-sm-2">{{ t.gen_time }}</span>
                <span class="col-sm-2">{{ t.exp_time }}</span>
                <input class="btn btn-danger col-sm-2 delete-token" type="button" value="Delete"/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
