{% extends 'base.html' %}

{% block title %}{{ super() }} - Data Transfer{% endblock %}

{% block scripts %}
    <script src="{{ url_for('user_bp.static', filename='js/data_transfer.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/highlight-js-11.9.0/highlight.min.js') }}"></script>
    <script>
        {% if g.settings %}
            Yoda.settings = {{ g.settings | tojson}}
            {# Set highlightjs theme #}
            {% if g.settings.color_mode == 'AUTO' %}
                const initialHref = document.getElementById('pagestyle').attributes.href.value

                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.getElementById('pagestyle').setAttribute('href', initialHref.replace('default', 'dark'))
                }
            {% endif %}
        {% endif %}
    </script>
{% endblock %}

{% block style %}
    <link id="pagestyle" rel="stylesheet" {% if g.settings and g.settings.color_mode and g.settings.color_mode == 'DARK' %}href="{{url_for('static', filename='lib/highlight-js-11.9.0/styles/dark.min.css')}}"{% else %}href="{{url_for('static', filename='lib/highlight-js-11.9.0/styles/default.min.css')}}"{% endif %}>
{% endblock style %}

{% block content %}
  <h1>Data Transfer</h1>

  <p>
    There are several ways to move data between Yoda and other computers, whether your local machine or a remote one.
    These methods vary in speed, flexibility, and technical knowledge necessary to use them.
    You may find that different methods suit your needs for different projects at different times.
  </p>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#iCommands">iCommands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#Gocommands">GoCommands</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div id="iCommands" class="container tab-pane active">
          <div class="alert alert-primary" role="alert">
            <i aria-hidden="true" class="fa-solid fa-terminal"></i> This is a command line tool, operated in a terminal
          </div>
          <p>
            Yoda is based on iRODS technology. The <a href="https://docs.irods.org/4.2.12/icommands/user/" target="_blank">iCommands</a> allows you to interact with the iRODS backend of Yoda directly.
            Therefore, it is possible to transfer data to and from Yoda using the iRODS communication protocol.
            The iCommands are only available for Linux, for other operating systems we recommend the GoCommands.
            You need to configure the iCommands to connect to this Yoda environment.
          </p>
          <p> Download or copy the following configuration into your ~/.irods/irods_environment.json configuration file. </p>
          <pre><code id="code-block1">
{
    "irods_host": "{{ config.get('IRODS_ICAT_HOSTNAME') }}",
    "irods_port": 1247,
    "irods_home": "/{{ config.get('IRODS_DEFAULT_ZONE') }}/home",
    "irods_user_name": "{{ g.user }}",
    "irods_zone_name": "{{ config.get('IRODS_DEFAULT_ZONE') }}",
    "irods_authentication_scheme": "pam",
    "irods_encryption_algorithm": "AES-256-CBC",
    "irods_encryption_key_size": 32,
    "irods_encryption_num_hash_rounds": 16,
    "irods_encryption_salt_size": 8,
    "irods_client_server_negotiation": "request_server_negotiation",
    "irods_client_server_policy": "CS_NEG_REQUIRE"
}
          </code></pre>
          <div class="float-md-end">
            <button id="download-button1" type="button" class="btn btn-outline-secondary btn-download-file"> Download as JSON </button>
          </div>
        </div>
        <div id="Gocommands" class="container tab-pane fade">
          <div class="alert alert-primary" role="alert">
            <i aria-hidden="true" class="fa-solid fa-terminal"></i> This is a command line tool, operated in a terminal
          </div>
          <p>
            <a href="https://github.com/cyverse/gocommands/blob/main/README.md" target="_blank">GoCommands</a> is a command-line tool.
            Unlike the iCommands, GoCommands is portable which does not require any installation and runs on Windows, MacOS and Linux.
          </p>
          <p>Download or copy the following configuration into your config.yml file.</p>
          <pre><code id="code-block2">
irods_host: "{{ config.get('IRODS_ICAT_HOSTNAME') }}"
irods_port: 1247
irods_user_name: "{{ g.user }}"
irods_zone_name: "{{ config.get('IRODS_DEFAULT_ZONE') }}"
irods_authentication_scheme: "pam"
irods_encryption_algorithm: "AES-256-CBC"
irods_encryption_key_size: 32
irods_encryption_num_hash_rounds: 16
irods_encryption_salt_size: 8
irods_client_server_negotiation: "request_server_negotiation"
irods_client_server_policy: "CS_NEG_REQUIRE"
          </code></pre>
          <div class="float-md-end">
            <button id="download-button2" type="button" class="btn btn-outline-secondary btn-download-file"> Download as YAML </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
