{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Sign in{% endblock title %}

{% block content %}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="panel-title">Login to Yoda</div>
            </div>
            <div class="card-body">
                <form method="post" class="form-horizontal">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-login-username">Email address</label>
                        <div class="col-sm-6">
                            <input
                                name="username"
                                id="f-login-username"
                                class="form-control col-sm-6"
                                type="text"
                                placeholder="{{ login_placeholder }}"
                                {% if g.login_username %}
                                value="{{ g.login_username }}"
                                {% endif %}
                                maxlength="64"
                                required />
                            <span id="capitals" class="hidden error text-danger">Email address should not contain capital letters.</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-login-password">Password</label>
                        <div class="col-sm-6">
                            <input
                                name="password"
                                id="f-login-password"
                                class="form-control col-sm-6"
                                type="password"
                                autofocus
                                required />
                        </div>
                        <a class="col-sm-6 offset-sm-3 pl-0" href="https://{{ config.get('YODA_EUS_FQDN') }}/user/forgot-password" title="Forgot / change password?">Forgot / change password?</a>
                    </div>
                    <div class="ps-2 pe-2">
                        <input id="f-login-submit" class="btn btn-primary col-sm-6 offset-sm-3" type="submit" value="Sign in" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
