{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Notifications{% endblock %}

{% block scripts %}
    <script src="{{ url_for('user_bp.static', filename='js/notifications.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Notifications</h1>
    {% if notifications %}
    <div class="list-group">
        {% for notification in notifications %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ notification.message }}</h5>
                <small class="text-muted">{{ notification.datetime }}</small>
            </div>
            <a class="dismiss-notification pull-right" data-id="{{ notification.timestamp }}" href="#" title="Done"><i class="fa fa-check" aria-hidden="true"></i></a>
        </a>
        {% endfor %}
      </tbody>
    </div>
    {% else %}
    <p>All caught up! You have no new notifications.</p>
    {% endif %}
{% endblock content %}
