{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Settings{% endblock title %}

{% block content %}
<h1>Settings</h1>

<div class="card">
    <div class="card-header">
        Notifications
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <fieldset class="col-md-6">
                <label for="mail_notifications" class="form-label">E-mail notifications</label>
                <select class="form-select" id="mail_notifications" name="mail_notifications" aria-describedby="mail_notifications_help">
                    <option value="OFF" {% if mail_notifications == 'OFF' %}selected{% else %}{% endif %}>Off</option>
                    <option value="IMMEDIATE" {% if mail_notifications == 'IMMEDIATE' %}selected{% else %}{% endif %}>Immediate e-mail</option>
                    <option value="DAILY" {% if mail_notifications == 'DAILY' %}selected{% else %}{% endif %}>Daily digest</option>
                    <option value="WEEKLY" {% if mail_notifications == 'WEEKLY' %}selected{% else %}{% endif %}>Weekly digest</option>
                </select>
                <div id="mail_notifications_help" class="form-text">
                    Receive e-mails of your notifications in Yoda.
                </div>


                <label for="group_manager_view" class="form-label">Group manager view</label>
                <select class="form-select" id="group_manager_view" name="group_manager_view" aria-describedby="group_manager_view_help">
                    <option value="TREE" {% if group_manager_view == 'TREE' %}selected{% else %}{% endif %}>Hierarchical tree view</option>
                    <option value="LIST" {% if group_manager_view == 'LIST' %}selected{% else %}{% endif %}>Flat list view</option>
                </select>
                <div id="group_manager_view" class="form-text">
                    Default view on groups in group manager.
                </div>

                <div class="input-group mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
