{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Settings{% endblock %}

{% block content %}
<h1>Settings</h1>

<div class="card">
    <div class="card-header">
        Notifications
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <fieldset>
                <div class="input-group mb-3 custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="mail_notifications" name="mail_notifications" {% if mail_notifications == 'on' %}checked{% else %}{% endif %}>
                    <label class="custom-control-label" for="mail_notifications">Receive mail notifications</label>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="mail_notifications_type">Type</label>
                    </div>
                    <select class="custom-select col-md-2" name="mail_notifications_type" {% if mail_notifications == 'off' %}disabled{% else %}{% endif %}>
                        <option value="IMMEDIATE" {% if mail_notifications_type == 'IMMEDIATE' %}selected{% else %}{% endif %}>Immediate report</option>
                        <option value="DAILY" {% if mail_notifications_type == 'DAILY' %}selected{% else %}{% endif %}>Daily report</option>
                        <option value="WEEKLY" {% if mail_notifications_type == 'WEEKLY' %}selected{% else %}{% endif %}>Weekly report</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
