<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About {{ config.get('PORTAL_TITLE_TEXT') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>What is Yoda?</strong>
        <p>
          Yoda is a research data management service that enables researchers from Utrecht University,
          their partners and researchers from other institutes to securely deposit, share, publish and
          preserve large amounts of research data during all stages of a research project.
          <br>
          This service is managed and supported by an interdisciplinary team of university employees.
          The software has been developed at Utrecht University and is used by multiple organisations,
          both in the Netherlands and abroad.
        </p>
      </div>
    </div>
  </div>
</div>
