<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>What is Yoda?</h6>
        <p>
          Yoda is a research data management service that enables researchers from Utrecht University,
          their partners and researchers from other institutes to securely deposit, share, publish and
          preserve large amounts of research data during all stages of a research project.
          <br>
          This service is managed and supported by an interdisciplinary team of university employees.
          The software has been developed at Utrecht University and is used by multiple organisations,
          both in the Netherlands and abroad.
        </p>
        <h6>iCommands Connection Information</h6>
        <p>
          Yoda is based on iRODS technology.
          iCommands allows you to interact with the iRODS backend of Yoda directly.
          Therefore, it is possible to transfer data to and from Yoda using the iRODS communication protocol.
          You need to configure the iCommands to connect to this Yoda environment.
          Copy and paste this configuration into your ~/.irods/irods_environment.json configuration file.
        </p>
        <pre><code>
        {
            "irods_host": "{{ config.get('IRODS_ICAT_HOSTNAME') }}",
            "irods_port": 1247,
            "irods_home": "/{{ config.get('IRODS_DEFAULT_ZONE') }}/home",
            "irods_user_name": "{{ g.user }}",
            "irods_zone_name": "{{ config.get('IRODS_DEFAULT_ZONE') }}",
            "irods_authentication_scheme": "pam",
            "irods_encryption_algorithm": "AES-256-CBC",
            "irods_encryption_key_size": 32,
            "irods_encryption_num_hash_rounds": 16,
            "irods_encryption_salt_size": 8,
            "irods_client_server_negotiation": "request_server_negotiation"
        }
        </code></pre>
      </div>
    </div>
  </div>
</div>
