{% extends 'general/base.html' %}

{% block title %}{{ super() }} &dash; API test{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">API test</h3>
    </div>
    <div class="panel-body">
        <div>{{ in_app }}</div>
        <form method="post" action="/api/uu_ping" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <!-- <label for="f-fn">API</label> <input id="f-fn" name="fn" type="text" value="uu_ping"> -->
            <!-- <label for="f-data">Data</label> <input id="f-data" name="data" type="text" size=40> -->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="f-fn">API</label>
                <div class="col-sm-9">
                    <input id="f-fn" class="form-control" name="fn" type="text" value="browse_folder">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="f-data">Data</label>
                <div class="col-sm-9">
                    <input id="f-data" class="form-control" name="data" type="text" size=40 value="{&quot;coll&quot;: &quot;/tempZone/home&quot;}">
                </div>
            </div>
            <div class="form-group"> <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary col-sm-3" type="submit" value="Submit">
            </div> </div>
        </form>
        <pre id="out" class="hidden"></pre>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
{{ super() }}
    <script>
        //let $ = (x) => document.querySelector(x);
        $('form').on('submit', (e) => {
            $('#out').removeClass('hidden');
            $('#out')[0].innerText = '...';
            e.preventDefault();
            Yoda.call($('#f-fn')[0].value, JSON.parse($('#f-data')[0].value), {quiet: true, rawResult: true})
                .then(r => $('#out')[0].innerText = JSON.stringify(r, null, 2));
        });
    </script>
{% endblock footer_scripts %}
