<!doctype html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{{ config.portalTitleText }}{% endblock %}</title>

            {% block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock meta %}

            {% block style %}
                <link rel="stylesheet" href="{{ url_for('static', filename='lib/toastr/toastr.min.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/yoda-portal.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
            {% endblock style %}

            {% block head_scripts %}{% endblock %}
            <script src="{{ url_for('static', filename='lib/jquery-1.11.2/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='lib/bootstrap-4.4.1/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock head %}
    </head>

    <body class="d-flex flex-column min-vh-100">

        <header class="brandbar container">
            <div class="navbar yoda-topnavbar">
                <a class="navbar-brand" href="{{ config.logoUrl }}">
                    <img class="logo" src="{{ url_for('static', filename='img/logo-uu.svg') }}">
                </a>
                <div class="auth-action pull-right">
                    {% if g.user %}
                        <a class="logout text-right" href="{{ url_for('user_bp.logout') }}">Log out {{ g.user }}</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ url_for('user_bp.login') }}">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <nav class="navbar navbar-inverse navbar-static-top navbar-expand-lg yoda-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"i aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('general_bp.index') }}">Yoda Portal</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% for module in config.modules %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for( module.function ) }}">{{ module.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block container %}
        <div class="container page">
            <div id="messages">
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>

            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        <footer class="footer">
            {% block footer %}
            <div class="container">
                <p class="text-muted">Yoda {{ config.YODA_VERSION }}</p>
                <!-- {{ config.YODA_COMMIT }} -->
            </div>
            {% endblock footer %}
        </footer>

        {% block footer_scripts %}
            <script src="{{ url_for('static', filename='js/yoda.js') }}"></script>
            <script> Yoda.csrf = {tokenName: 'csrf_token', tokenValue: '{{ csrf_token() }}'}; </script>
        {% endblock footer_scripts %}
    </body>
</html>
