<!DOCTYPE html>
<html lang="en" {% if g.settings and g.settings.color_mode and g.settings.color_mode == 'DARK' %}data-bs-theme="dark"{% else %}data-bs-theme="light"{% endif %}>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>{% block title %}{{ config.get('PORTAL_TITLE_TEXT') }}{% endblock title %}</title>

            <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

            <link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome-free-6.5.1/css/fontawesome.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome-free-6.5.1/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/yoda-portal.css') }}">
            {% block style %}{% endblock style %}

            <script src="{{ url_for('static', filename='lib/bootstrap-5.3.3/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/yoda.js') }}"></script>
            {% if g.user %}
            <script src="{{ url_for('static', filename='lib/jquery-3.7.1/jquery-3.7.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/yoda-top-search.js') }}"></script>
            {% endif %}
            <script>
                Yoda.csrf = {tokenName: 'csrf_token', tokenValue: '{{ csrf_token() }}'};
                Yoda.textFileExtensions = {{ config.get('TEXT_FILE_EXTENSIONS') | safe }}
                {% if g.user %}
                Yoda.basePath = '/{{ g.irods.zone }}/home';
                Yoda.user = {
                    username: '{{ g.user }}',
                };
                {% endif %}
                {% if g.settings %}
                    Yoda.settings = {{ g.settings | tojson}}
                    {% if g.settings.color_mode == 'AUTO' %}
                        Yoda.set_color_mode_auto()
                    {% endif %}
                {% else %}
                  Yoda.set_color_mode_auto()
                {% endif %}
            </script>
            {% block scripts %}{% endblock scripts %}
        {% endblock head %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        {% if config.get('YODA_ENVIRONMENT') != "production" %}{% include 'environment.html' %}{% endif %}
        {% if config.get('BANNER_ENABLED') %}{% include 'banner.html' %}{% endif %}
        <header class="py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ url_for('general_bp.index') }}" class="logo mb-lg-0 me-lg-auto text-dark text-decoration-none" title="Go to home page"></a>
                    </div>
                    <div class="col"></div>
                    <div class="col-md-5">
                        {% if g.user and request.path != "/open_search/" and request.path != "/search/" %}
                            {% if config.get('OPEN_SEARCH_ENABLED') %}
                            <form class="mt-2 mb-lg-0 me-3" action="{{ url_for('open_search_bp.index') }}" method="get">
                                <input type="search" name="q" class="search form-control" placeholder="Search..." aria-label="Search">
                            </form>
                            {% else %}
                            <div class="input-group mt-2 mb-lg-0 me-3">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span id="top_search_concept" data-type="filename">Search by filename</span>
                                </button>
                                <ul id="top-search-panel" class="dropdown-menu">
                                    <li><a class="dropdown-item" data-type="filename">Search by filename</a></li>
                                    <li><a class="dropdown-item" data-type="folder">Search by folder</a></li>
                                    <li><a class="dropdown-item" data-type="metadata">Search by metadata</a></li>
                                    <li><a class="dropdown-item" data-type="status">Search by status</a></li>
                                    <li><a class="dropdown-item" data-type="revision">Search revision by name</a></li>
                                </ul>

                                <input type="text" id="q" class="form-control top-search-term" placeholder="Search term..." value="" maxlength="255">

                                <select id="top-search-status" class="form-control top-search-status hidden">
                                    <option disabled selected value>Select status...</option>
                                    <optgroup label="Research">
                                        <option value="research:LOCKED">Locked</option>
                                        <option value="research:SUBMITTED">Submitted for vault</option>
                                        <option value="research:ACCEPTED">Accepted for vault</option>
                                        <option value="research:REJECTED">Rejected for vault</option>
                                        <option value="research:SECURED">Secured in vault</option>
                                    </optgroup>
                                    <optgroup label="Vault">
                                        <option value="vault:UNPUBLISHED">Unpublished</option>
                                        <option value="vault:SUBMITTED_FOR_PUBLICATION">Submitted for publication</option>
                                        <option value="vault:APPROVED_FOR_PUBLICATION">Approved for publication</option>
                                        <option value="vault:PUBLISHED">Published</option>
                                        <option value="vault:DEPUBLISHED">Depublished</option>
                                    </optgroup>
                                </select>
                              <button type="button" class="btn btn-outline-secondary top-start-search" data-items-per-page="25" title="Search"><i class="fa-solid fa-search" aria-hidden="true"></i></button>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-auto mt-2 text-end">
                        {% include 'user.html' %}
                    </div>
                </div>
            </div>
        </header>

        {% include 'navigation.html' %}

        {% block container %}
        <div class="page">
            <div class="container">
                <div id="messages">
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        {% if category is sameas 'error' %} {% set category = 'danger' %} {% endif %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>

                {% block content %}{% endblock content %}
            </div>
        </div>
        {% endblock container %}

        {% if g.user %}
        {% include 'about.html' %}
        {% endif %}
        <footer class="footer">
            {% block footer %}
            <div class="container mt-4">
                {% if g.user %}
                    <p class="text-muted" data-bs-toggle="modal" data-bs-target="#aboutModal">Yoda {{ config.YODA_VERSION }}</p>
                {% else %}
                    <p class="text-muted">Yoda {{ config.YODA_VERSION }}</p>
                {% endif %}
            </div>
            {% endblock footer %}
        </footer>
    </body>
</html>
