<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>{% block title %}{{ config.get('PORTAL_TITLE_TEXT') }}{% endblock title %}</title>

            <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

            <link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome-free-6.0.0/css/fontawesome.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome-free-6.0.0/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/yoda-portal.css') }}">
            {% block style %}{% endblock style %}

            <script src="{{ url_for('static', filename='lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/yoda.js') }}"></script>
            {% if g.user %}
            <script src="{{ url_for('static', filename='lib/jquery-1.12.4/js/jquery.min.js') }}"></script>
            {% endif %}
            <script>
                Yoda.csrf = {tokenName: 'csrf_token', tokenValue: '{{ csrf_token() }}'};
                {% if g.user %}
                Yoda.basePath = '/{{ g.irods.zone }}/home';
                Yoda.user = {
                    username: '{{ g.user }}',
                };
                {% endif %}
            </script>
            {% block scripts %}{% endblock scripts %}
        {% endblock head %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header class="py-3">
            <div class="container d-flex flex-wrap justify-content-center">
                <a href="{{ url_for('general_bp.index') }}" class="mb-lg-0 me-lg-auto text-dark text-decoration-none">
                    <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo">
                </a>
                {% if g.user and request.path != "/open_search/" and request.path != "/search/" %}
                    {% if config.get('OPEN_SEARCH_ENABLED') %}
                    <form class="col-lg-4 mt-2 mb-lg-0 me-3" action="{{ url_for('open_search_bp.index') }}" method="get">
                        <input type="search" name="q" class="search form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    {% else %}
                    <form class="col-lg-4 mt-2 mb-lg-0 me-3" action="{{ url_for('search_bp.index') }}" method="get">
                        <input type="search" name="q" class="search form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    {% endif %}
                {% endif %}
                <div class="mt-2 text-end">
                    {% include 'user.html' %}
                </div>
            </div>
        </header>

        {% include 'navigation.html' %}

        {% block container %}
        <div class="page">
            <div class="container">
                <div id="messages">
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        {% if category is sameas 'error' %} {% set category = 'danger' %} {% endif %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>

                {% block content %}{% endblock content %}
            </div>
        </div>
        {% endblock container %}

        {% if g.user %}
        {% include 'about.html' %}
        {% endif %}
        <footer class="footer">
            {% block footer %}
            <div class="container mt-4">
                {% if g.user %}
                    <p class="text-muted" data-bs-toggle="modal" data-bs-target="#aboutModal">Yoda {{ config.YODA_VERSION }}</p>
                {% else %}
                    <p class="text-muted">Yoda {{ config.YODA_VERSION }}</p>
                {% endif %}
            </div>
            {% endblock footer %}
        </footer>
    </body>
</html>
