{% if config.get('YODA_ENVIRONMENT') == "development" %}
<div class="sticky-top text-bg-danger text-center fw-bold lh-1 p-1">This is a development environment!</div>
{% elif config.get('YODA_ENVIRONMENT') == "testing" %}
<div class="sticky-top text-bg-warning text-center fw-bold lh-1 p-1">This is a testing environment!</div>
{% elif config.get('YODA_ENVIRONMENT') == "acceptance" %}
<div class="sticky-top text-bg-success text-center fw-bold lh-1 p-1">This is an acceptance environment!</div>
{% endif %}
