{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Home{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block container %}
<div class="page">
    <div id="messages">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category is sameas 'error' %}
        {% set category = 'danger' %}
        {% endif %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <div class="header-logo">
        <img src="{{ url_for('static', filename='img/frontpage_banner.jpg') }}"
             alt="Yoda is a share-collaborate environment for research data"
             title="Yoda is a share-collaborate environment for research data" class="header-logo-img">

        {% if g.user %}
            {% include 'index_authenticated.html' %}
        {% else %}
            {% include 'index_not_authenticated.html' %}
        {% endif %}

    </div>
</div>
{% endblock %}
