<div class="header-logo-text-background">
    <div class="header-logo-text-content">
        <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo">
        <p>Yoda is a share-collaborate environment for research data.</p>
        <p>This is a Yoda <strong>development</strong> instance. You can follow the latest developments of Yoda on
            <a href="https://github.com/UtrechtUniversity/yoda" target="_blank">Github</a></p>
        <p>You are logged in as <em>{{ g.user }}</em></p>
    </div>
    <div>
        <a class="btn btn-primary" href="https://www.uu.nl/en/research/yoda" target="_blank">Introduction</a>
        <a class="btn btn-primary" href="https://utrechtuniversity.github.io/yoda/" target="_blank">Documentation</a>
        <a class="btn btn-primary" href="https://github.com/UtrechtUniversity/yoda" target="_blank">Github</a>
    </div>
</div>
