{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Home{% endblock %}

{% block style %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block container %}
<div class="page">
    <div id="messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="header-logo">
        <img src="{{ url_for('static', filename='img/frontpage_banner.jpg') }}" alt="Yoda is a share-collaborate environment for research data" title="Yoda is a share-collaborate environment for research data" class="header-logo-img">
        <div class="header-logo-text-background">
            <div class="header-logo-text-content">
                <h1>Welcome to Yoda!</h1>
                <p>Yoda is a share-collaborate environment for research data.</p>
                <p>This is a Yoda <strong>development</strong> instance. You can follow the latest developments of Yoda on
                    <a href="https://github.com/UtrechtUniversity/yoda" style="color:white; text-decoration: underline">Github</a></p>
            </div>
            <div id="header-logo-links">
                <a class="header-logo-text-link" href="https://www.uu.nl/en/research/yoda" target="_blank">Introduction</a>
                <a class="header-logo-text-link" href="https://utrechtuniversity.github.io/yoda-docs/" target="_blank">Documentation</a>
                <a class="header-logo-text-link" href="https://github.com/UtrechtUniversity/yoda" target="_blank">Github</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
