{% extends 'general/base.html' %}

{% block title %}{{ super() }} &dash; Home{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
        .header-logo {
                width: 100%;
                position: relative;
        }
        .header-logo .header-logo-text-content {
                color: #fff;
                font-family: "Open Sans", "Merriweather","Bembo",Georgia,Times,"Times New Roman",serif;
                overflow: hidden;
                font-weight: 300;
        }
        .header-logo .header-logo-text-link {
                bottom: -42px;
                right: 0px;
                background-color: #ffcd00;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;
                display: inline-block;
                padding: 0 19px;
                line-height: 42px;
                position: absolute;
                height: 42px;
                box-sizing: border-box;
        }
        a.header-logo-text-link {
                text-decoration: none;
        }
        div.header-logo img.header-logo-img {
                display: inline;
                width: 100%;
                clear: both;
        }
        .header-logo .header-logo-text-background {
                position: absolute;
                top: 27%;
                background-color: rgba(0,0,0,.5);
                right: 5%;
                font-size: 20px;
                padding: 15px 30px;
                font-size: 20px;
        }
</style>
{% endblock %}

{% block container %}
<div class="page">
    <div id="messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="header-logo">
        <img src="{{ url_for('static', filename='img/frontpage_banner.jpg') }}" alt="Yoda is a share-collaborate environment for research data" title="Yoda is a share-collaborate environment for research data" class="header-logo-img">
        <div class="header-logo-text-background">
            <div class="header-logo-text-content">
                <h1>Welcome to Yoda!</h1>
                <p>Yoda is a share-collaborate environment for research data.</p>
            </div>
            <a class="header-logo-text-link" href="https://utrechtuniversity.github.io/yoda-docs/" target="_blank">Learn more</a>
        </div>
    </div>
</div>
{% endblock %}
