<nav class="navbar navbar-dark navbar-expand-lg mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('general_bp.index') }}">Yoda Portal</a>
        {% if g.user %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#yodaNavbar" aria-controls="yodaNavbar" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="yodaNavbar">
            <div class="nav navbar-nav">
            {% for module in config.get('modules') %}
                {% if module.function != "stats_bp.index" and module.function != "group_manager_bp.index" %}
                <a class="nav-link {% if request.path == url_for(module.function) %}active{% endif %}" href="{{ url_for(module.function) }}">{{ module.name }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</nav>
