{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Group Manager{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('group_manager_bp.static', filename='css/group_manager.css') }}">
    <link rel="stylesheet" href="{{ url_for('group_manager_bp.static', filename='lib/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('group_manager_bp.static', filename='lib/select2/select2-bootstrap.min.css') }}">
{% endblock style %}

{% block scripts %}
    <script src="{{ url_for('static', filename='lib/jquery-3.6.4/jquery-migrate-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('group_manager_bp.static', filename='js/group_manager.js') }}"></script>
    <script src="{{ url_for('group_manager_bp.static', filename='lib/select2/select2.min.js') }}"></script>
    <script>
    $(function() {
        Yoda.groupManager.load({{ group_hierarchy | safe }}, {{ schema_ids | safe }}, '{{ user_type }}', '{{ user_zone }}');
    });
    </script>
{% endblock scripts %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Group manager</h1>
    </div>
    <div class="col-md-6 div-show-search-groups">
        <button type="button" class="btn btn-primary import-groups-csv float-end me-2 hidden" title="Import groups from CSV"><i class="fa-solid fa-file-csv" aria-hidden="true"></i> Import groups</button>
        <button type="button" class="btn btn-primary create-button-new float-end me-2 hidden" title="Create new group"><i class="fa-solid fa-plus" aria-hidden="true"></i> Add group </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card groups">
            <div class="card-header">
                Groups
                <ul class="nav nav-pills float-end" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="btn btn-sm me-1 {% if show_list == "TREE" %}active{% endif %}" id="pills-tree-tab" data-bs-toggle="pill" data-bs-target="#pills-tree" type="button" role="tab" aria-controls="pills-tree" aria-selected="{% if show_list == "TREE" %} true {% else %} false {% endif %}">Tree view</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="btn btn-sm {% if show_list == "LIST" %}active{% endif %}" id="pills-list-tab" data-bs-toggle="pill" data-bs-target="#pills-list" type="button" role="tab" aria-controls="pills-list" aria-selected="{% if show_list == "LIST" %} true {% else %} false {% endif %}">List view</button>
                    </li>
                </ul>
            </div>
            <div class="mb-1">
                <input name="user_name" id="search" class="form-control form-control-sm selectify-search mt-1" type="hidden" required placeholder="Click here to search..."/>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane {% if show_list == "TREE" %} show active {% endif %}" id="pills-tree" role="tabpanel" aria-labelledby="pills-tree-tab">
                    <div class="card groups">
                        <div class="list-group" id="group-list">

                            {% for category, subcategories in group_hierarchy.items() %}
                            <div class="list-group-item category" id="category-{{ loop.index }}" data-name="{{ category }}">
                                <a class="name collapsed" data-bs-toggle="collapse" data-parent="#category-{{ loop.index }}" href="#category-{{ loop.index }}-ul">
                                    <i class="fa-solid fa-caret-right triangle" aria-hidden="true"></i> {{ category }}
                                </a>
                                <div class="list-group collapse category-ul" id="category-{{ loop.index }}-ul">

                                {% for subcategory, groups in subcategories.items() %}
                                <div class="list-group-item subcategory" data-name="{{ subcategory }}">
                                    <a class="name collapsed" data-bs-toggle="collapse" data-parent="#subcategory-{{ loop.index }}" href="#subcategory-{{ loop.index }}-ul">
                                        <i class="fa-solid fa-caret-right triangle" aria-hidden="true"></i> {{ subcategory }}
                                    </a>
                                    <div class="list-group collapse subcategory-ul" id="subcategory-{{ loop.index }}-ul">
                                    {% for group, properties in groups.items() %}
                                    <a class="list-group-item list-group-item-action group" id="group-{{ loop.index }}" data-name="{{ group }}">
                                        {{ group }}
                                    </a>
                                    {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane {% if show_list == "LIST" %} show active {% endif %}" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
                    <div class="card groups">

                        <div id="result-user-search-groups"></div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="sticky-top">
            <!---  CREATE  -->
            <div class="card properties-create hidden">
                <div class="card-header">Create new group </div>
                    <div class="card-body" id="group-properties-create">
                        <form class="form-horizontal" id="f-group-create" action="{{ url_for('group_manager_bp.group_create') }}" method="POST">
                            <div class="mb-3 row">
                                <label class="col-sm-4 form-label" for="f-group-create-name">Group name
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Name and type for this group, this cannot be changed after group creation (may only contain lowercase letters (a-z) and hyphens (-))"></i>
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-btn" id="f-group-create-prefix-div" title="Choose a group type">
                                            <button type="button" id="f-group-create-prefix-button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">research-&nbsp;</span><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li id="f-group-create-prefix-grp"><a href="#" data-value="grp-">grp-&nbsp;</a></li>
                                                <li id="f-group-create-prefix-datamanager"><a href="#" data-value="datamanager-">datamanager-&nbsp;</a></li>
                                                <li><a href="#" data-value="research-">research-&nbsp;</a></li>
                                                <li><a href="#" data-value="deposit-">deposit-&nbsp;</a></li>
                                                <li><a href="#" data-value="intake-">intake-&nbsp;</a></li>
                                            </ul>
                                        </div>
                                        <input name="group_name" id="f-group-create-name" class="form-control" type="text" pattern="^([a-z0-9]|[a-z0-9][a-z0-9-]*[a-z0-9])$" required oninvalid="setCustomValidity('Please enter only lowercase letters, numbers, and hyphens (-). The group name may not start or end with a hyphen.')" onchange="setCustomValidity('')" />
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-4 form-label" for="f-group-create-category">Category
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Category for this group (may only contain lowercase letters (a-z) and hyphens (-))"></i>
                                </label>
                                <div class="col-sm-8">
                                    <input name="group_category" id="f-group-create-category" class="form-control selectify-category" type="hidden" placeholder="Select a category or enter a new name" required data-subcategory="#f-group-create-subcategory" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-4 form-label" for="f-group-create-subcategory">Subcategory
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Subcategory for this group (may only contain letters a-z, numbers, spaces, comma's, periods, parentheses, underscores (_) and hyphens (-))"></i>
                                </label>
                                <div class="col-sm-8">
                                    <input name="group_subcategory" id="f-group-create-subcategory" class="form-control selectify-subcategory" type="hidden" placeholder="Select a subcategory or enter a new name" required data-category="#f-group-create-category" />
                                </div>
                            </div>

                            <div class="mb-3 row schema-id">
                                <label class="col-sm-4 form-label" for="f-group-create-schema-id">Metadata schema
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Metadata schema for this group, this cannot be changed after group creation"></i>
                                </label>
                                <div class="col-sm-8">
                                    <input name="group_schema_id" id="f-group-create-schema-id" class="form-control selectify-schema-id" placeholder="Select a schema" required />
                                </div>
                            </div>

                            <div class="mb-3 row data-classification">
                                <label class="col-sm-4 form-label" for="f-group-create-data-classification">Data classification
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Data classification of group with regard to information security policy"></i>
                                </label>
                                <div class="col-sm-8">
                                    <select name="group_data_classification" id="f-group-create-data-classification" class="selectify-data-classification">
                                        <option value="unspecified" class="unspecified-option">Unspecified</option>
                                        <option value="public">Public</option>
                                        <option value="basic">Basic</option>
                                        <option value="sensitive">Sensitive</option>
                                        <option value="critical">Critical</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row expiration-date">
                                <label class="col-sm-4 form-label" for="f-group-create-expiration-date">Group expiration date
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Date indicating when this group is expected to have become obsolete, when reached datamanagers will automatically reveive a notification"></i>
                                </label>
                                <div class="col-sm-8">
                                    <input name="group_expiration_date" id="f-group-create-expiration-date" type="date" class="form-control" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-4 form-label" for="f-group-create-description">Group description
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="Description for this group (may only contain letters a-z, numbers, spaces, comma's, periods, parentheses, underscores (_) and hyphens (-))"></i>
                                </label>
                                <div class="col-sm-8">
                                    <input name="group_description" id="f-group-create-description" class="form-control" type="text" placeholder="Enter a short description" pattern="^[a-zA-Z0-9,.()_ -]*$" oninvalid="setCustomValidity('Please enter only letters a-z, numbers, spaces, comma\'s, periods, parentheses, underscores (_) and hyphens (-).')" onchange="setCustomValidity('')" />
                                </div>
                            </div>

                            {% if config.get('SRAM_ENABLED') %}
                            <div class="mb-3 row enable-sram">
                                <label class="col-sm-4 form-label" for="f-group-create-sram-group">SRAM group
                                    <i class="fa-solid fa-question-circle" aria-hidden="true" title="SRAM create, create SRAM CO for this group"></i>
                                </label>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input name="group_sram_group" id="f-group-create-sram-group" type="checkbox" class="form-check-input"/>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div class="row">
                                <div class="offset-sm-4 col-sm-8">
                                    <input action="{{ url_for('group_manager_bp.group_create') }}" id="f-group-create-submit" class="btn btn-primary" type="button" value="Add group">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            <!---  UPDATE  -->
            <div class="card properties-update">
                <div class="card-header">Group properties <span class="float-end" id="group-properties-group-name"></span></div>

                <div class="card-body" id="group-properties">
                    <p class="placeholder-text">
                        Please select a group.
                    </p>
                    <form action="{{ url_for('group_manager_bp.group_update') }}" method="POST" id="f-group-update" class="hidden">

                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" for="f-group-update-name">Group name
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Name and type for this group, this cannot be changed after group creation (may only contain lowercase letters (a-z) and hyphens (-))"></i>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">grp-</span>
                                    </div>
                                    <input name="group_name" id="f-group-update-name" class="form-control" type="text" pattern="^([a-z0-9]|[a-z0-9][a-z0-9-]*[a-z0-9])$" required oninvalid="setCustomValidity('Please enter only lowercase letters, numbers, and hyphens (-). The group name may not start or end with a hyphen.')" onchange="setCustomValidity('')" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" for="f-group-update-category">Category
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Category for this group (may only contain lowercase letters (a-z) and hyphens (-))"></i>
                            </label>
                            <div class="col-sm-8">
                                <input name="group_category" id="f-group-update-category" class="form-control selectify-category" type="hidden" placeholder="Select a category or enter a new name" required data-subcategory="#f-group-update-subcategory" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" for="f-group-update-subcategory">Subcategory
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Subcategory for this group (may only contain letters a-z, numbers, spaces, comma's, periods, parentheses, underscores (_) and hyphens (-))"></i>
                            </label>
                            <div class="col-sm-8">
                                <input name="group_subcategory" id="f-group-update-subcategory" class="form-control selectify-subcategory" type="hidden" placeholder="Select a subcategory or enter a new name" required data-category="#f-group-update-category" />
                            </div>
                        </div>

                        <div class="mb-3 row schema-id">
                            <label class="col-sm-4 form-label" for="f-group-update-schema-id">Metadata schema
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Metadata schema for this group, this cannot be changed after group creation"></i>
                            </label>
                            <div class="col-sm-8">
                                <input name="group_schema_id" id="f-group-update-schema-id" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="mb-3 row data-classification">
                            <label class="col-sm-4 form-label" for="f-group-update-data-classification">Data classification
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Data classification of group with regard to information security policy"></i>
                            </label>
                            <div class="col-sm-8">
                                <select name="group_data_classification" id="f-group-update-data-classification" class="selectify-data-classification">
                                    <option value="unspecified" class="unspecified-option">Unspecified</option>
                                    <option value="public">Public</option>
                                    <option value="basic">Basic</option>
                                    <option value="sensitive">Sensitive</option>
                                    <option value="critical">Critical</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row expiration-date">
                            <label class="col-sm-4 form-label" for="f-group-update-expiration-date">Group expiration date
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Date indicating when this group is expected to have become obsolete, when reached datamanagers will automatically reveive a notification"></i>
                            </label>
                            <div class="col-sm-8">
                                <input name="group_expiration_date" id="f-group-update-expiration-date" type="date" class="form-control" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" for="f-group-update-description">Group description
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Description for this group (may only contain letters a-z, numbers, spaces, comma's, periods, parentheses, underscores (_) and hyphens (-))"></i>
                            </label>
                            <div class="col-sm-8">
                                <input name="group_description" id="f-group-update-description" class="form-control" type="text" placeholder="Enter a short description" pattern="^[a-zA-Z0-9,.()_ -]*$" oninvalid="setCustomValidity('Please enter only letters a-z, numbers, spaces, comma\'s, periods, parentheses, underscores (_) and hyphens (-).')" onchange="setCustomValidity('')" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" for="f-group-update-creation-date">Creation date
                                <i class="fa-solid fa-question-circle" aria-hidden="true" title="Creation date for this group"></i>
                            </label>
                            <div class="col-sm-8">
                                <input name="group_creation_date" id="f-group-update-creation-date" class="form-control" type="text" disabled />
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-sm-4 col-sm-8">
                                <input action="{{ url_for('group_manager_bp.group_update') }}" id="f-group-update-submit" class="btn btn-primary" type="button" value="Save changes" />
                                <a class="btn btn-danger hidden delete-button float-end" data-action="{{ url_for('group_manager_bp.group_delete') }}" data-bs-toggle="modal" data-bs-target="#modal-group-delete">Remove group</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card users mt-2">
                <div class="card-header">
                                       <div class="float-start" id="user-group-member-count">Group members</div>
                                       <div class="float-start" id="user-group-member-selected-count"></div>
                    <div class="input-group-sm has-feedback float-end">
                        <input class="form-control form-control-sm mt-1" id="user-list-search" type="text" placeholder="Filter members" />
                    </div>
                </div>
                <div class="card-body">
                    <p class="placeholder-text">
                        Please select a group.
                    </p>
                </div>
                <div class="list-group overflow-auto" id="user-list" style="max-height: 243px"></div>
                <div class="list-group-item item-user-create" id="user-list-add-user" hidden>
                    <form action="{{ url_for('group_manager_bp.user_create') }}" method="POST" class="form-inline" id="f-user-create">
                        <input name="group_name" id="f-user-create-group" type="hidden" />
                        <div class="input-group">
                            <input name="user_name" id="f-user-create-name" class="form-control form-control-sm selectify-user-name" type="hidden" required placeholder="Click here to add a user..." data-group="#f-user-create-group" />
                            <div class="input-group-btn">
                                <input id="f-user-create-submit" class="btn btn-primary btn-block btn-sm ms-2" type="submit" value="Add" />
                            </div>
                        </div>
                    </form>
                </div>
                <div id="user-actions" class="card-footer">
                    <div class="input-group-sm float-start">
                        Change role:

                        <a class="btn btn-sm btn-primary disabled update-button" data-target-role="reader" data-action="{{ url_for('group_manager_bp.user_update') }}" title="Viewer rights"><i class="fa-solid fa-eye" aria-hidden="true"></i> Viewer</a>
                        <a class="btn btn-sm btn-primary disabled update-button" data-target-role="normal" data-action="{{ url_for('group_manager_bp.user_update') }}" title="Member rights"><i class="fa-solid fa-user" aria-hidden="true"></i> Member</a>
                        <a class="btn btn-sm btn-primary disabled update-button" data-target-role="manager" data-action="{{ url_for('group_manager_bp.user_update') }}" title="Manager rights"><i class="fa-solid fa-crown" aria-hidden="true"></i> Manager</a>

                        <a class="btn btn-sm btn-danger disabled delete-button ms-2" id="btn-remove-user-from-group" data-action="{{ url_for('group_manager_bp.user_delete') }}" data-bs-toggle="modal" data-bs-target="#modal-user-delete" title="Remove the selected member from this group"><i class="fa-solid fa-trash" aria-hidden="true"></i> Remove member(s)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="dlg-import-groups-csv">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Import group definitions in CSV file</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <h6>Step 1. Upload the csv file</h6>
                  <p class="placeholder-text">Select a CSV file containing group definions (format described below).</p>
                </div>
                <div class="col-sm-6 div-process-results-import hidden">
                  <div class="div-process-results-import">
                    <h6>Step 2. Process the uploaded csv file</h6>
                    <p class="placeholder-text">Check the options you prefer and click the process button.</p>
                    <input class="form-check-input" type="checkbox" id="import-allow-updates"> Allow updates
                    <input class="form-check-input ms-3" type="checkbox" id="import-delete-users"> Delete users
                    <br>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="file" id="file-input" name="file-input" class="csv-import-file" accept=".csv" title="Upload CSV with group definition" />
                  <label for="file-input" class="btn btn-primary file-input-click"><i class="fa-solid fa-upload" aria-hidden="true"></i> Upload CSV with group definitions</label>
                </div>
                <div class="col-sm-6 div-process-results-import hidden">
                  <button type="button" class="btn btn-primary process-csv" title="Process CSV with group definition(s)"><i class="fa-solid fa-user-group" aria-hidden="true"></i> Process CSV</button>
                </div>
              </div>
              <div class="row">
                <div id="result-import-groups-csv">
                  <br>
                  <h5>Group definition CSV format</h5>

                  <p>The CSV file is expected to include the following labels in its header (the first row):</p>
                  <dl class="row">
                    <dt class="col-sm-2">category</dt>
                    <dd class="col-sm-10">Category for the group</dd>
                    <dt class="col-sm-2">subcategory</dt>
                    <dd class="col-sm-10">Subcategory for the group</dd>
                    <dt class="col-sm-2">groupname</dt>
                    <dd class="col-sm-10">Name of the group (without the "research-" prefix)</dd>
                  </dl>

                  <p>
                    The remainder of the columns should have a label that starts with a prefix which indicates the role of each group member.
                    Columns may appear in any order and empty data cells are ignored: groups can differ in number of members.
                  </p>
                  <dl class="row">
                    <dt class="col-sm-2">manager:</dt>
                    <dd class="col-sm-10">User that will be given the role of manager</dd>
                    <dt class="col-sm-2">member:</dt>
                    <dd class="col-sm-10">User that will be given the role of member with read/write</dd>
                    <dt class="col-sm-2">viewer:</dt>
                    <dd class="col-sm-10">User that will be given the role of viewer with read</dd>
                  </dl>

                  <h5>Example:</h5>
<pre>category,subcategory,groupname,manager:manager,member:member1,member:member2
departmentx,teama,groupteama,m.manager@example.com,m.member@example.com,n.member@example.com
departmentx,teamb,groupteamb,m.manager@example.com,p.member@example.com,</pre>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-group-delete" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm group removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to remove <strong class="group"></strong>?</p>
          <p>Please make sure that the group's directory is empty before continuing.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="f-group-delete" type="button" class="btn btn-danger confirm">Remove</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-user-delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm member removal</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove <strong class="user"></strong> from group <strong class="group"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="f-user-delete" type="button" class="btn btn-danger confirm">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
