// colors
$white: #fff;
$primary: #007ecc;
$grey: #e1e1e1;
$black: #000;
$gray-alt: #e9ecef;

/* Yoda Navbar
   The navbar is navbar-dark, but the theming here is light colors.
   In VU's index.scss the navbar's actual dark theme is set. */
$navbar-bg: $grey;
$navbar-dark-color: $primary;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;
$navbar-dark-hover-color: $black;
$navbar-dark-active-color: $black;

// Bootstrap breadcrumb
$breadcrumb-bg: $gray-alt;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;

// Bootstrap links
$link-color: $black;

// Bootstrap list group
$list-group-active-color: $black;

// Bootstrap badge
$badge-font-size: .65em;

// Group manager table
// Active color is black in light mode
$table-active-color: $black;
$table-active-bg: $primary;

// Bootstrap dropdown z-index
$zindex-dropdown: 1021;
