// colors
$primary: #007ecc;
$grey: #e1e1e1;
$black: #000;
$gray-alt: #e9ecef;

// Yoda Navbar
$navbar-bg: $grey;
$navbar-dark-color: $primary;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;
$navbar-dark-hover-color: $black;
$navbar-dark-active-color: $black;

// Bootstrap card
$card-cap-bg: $grey;
$card-cap-color: $primary;
$card-border-color: $grey;

// Bootstrap breadcrumb
$breadcrumb-bg: $gray-alt;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;

// Bootstrap links
$link-color: $black;

// Bootstrap list group
$list-group-active-color: $black;

// Bootstrap bage
$badge-font-size: .65em;

// Bootstrap dropdown z-index
$zindex-dropdown: 1021;
