// colors
$primary: #007ecc;
$grey: #e1e1e1;

// Yoda Navbar
$navbar-bg: $grey;
$navbar-dark-color: $primary;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;
$navbar-dark-hover-color: #000;
$navbar-dark-active-color: #000;

// Bootstrap card
$card-cap-bg: $grey;
$card-cap-color: $primary;
$card-border-color: $grey;

// Bootstrap bage
$badge-font-size: .50em;