{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Research{% endblock title %}

{% block scripts %}
<script src="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.js') }}"></script>
<script src="{{ url_for('research_bp.static', filename='lib/flow-js/flow.min.js') }}"></script>
<script src="{{ url_for('research_bp.static', filename='js/research.js') }}"></script>
<script src="{{ url_for('research_bp.static', filename='js/dlgFileBrowseOperations.js') }}"></script>
<script src="{{ url_for('research_bp.static', filename='lib/dragbetter-js/jquery.dragbetter.js') }}"></script>
<script>
    var browseStartDir  = {{ dir|tojson|safe }};
    var view = 'browse';
</script>
{% endblock scripts %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('research_bp.static', filename='css/research.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.css') }}">
{% endblock style %}

{% block content %}
<div class="modal" tabindex="-1" role="dialog" id="showUnpreservableFiles">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">File formats compliance with policy</h3>
                <div class="form-group">
                    <label for="file-formats-list">Select preservable file format list:</label>
                    <select class="form-control" id="file-formats-list">
                        <option value="" disabled selected>Select a file format list</option>
                    </select>
                </div>
                <p class="help"></p><br />
                <p class="advice"></p>
                <p class="checking">Checking files <i class="fa-solid fa-spinner fa-spin fa-fw"></i></p>
                <p class="preservable">
                    This folder does not contain files that are likely to become unusable in the future.
                </p>
                <div class="unpreservable">
                    <p>The following unpreservable file extensions were found in your dataset:</p>
                    <ul class="list-unpreservable-formats"></ul>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="showChecksumReport">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Checksum report for <span class="collection"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    This overview shows files and their checksums.
                    These checksums can de used to verify data integrity.
                    The checksum algorithm used is <a href="https://en.wikipedia.org/wiki/SHA-2" title="SHA-256 checksum algorithm">SHA-256</a>.
                </p>
                <div id="checksumReport"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-secondary download-report-text">Download as text</a>
                <a href="#" class="btn btn-outline-secondary download-report-csv">Download as CSV</a>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="cleanup-collection">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Clean up collection</h5>
                <div class="alert alert-warning" id="alert-panel-cleanup-collection">
                    <span></span>
                </div>

                <p><b><span id="collection"></span></b></p>

                <div id="cleanup-files"></div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-confirm-cleanup-collection" data-collection="">Clean up selected temporary files</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="folder-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Create new folder in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-folder-create">
                    <span></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Folder name</span>
                    </div>
                    <input type="text" class="form-control" id="path-folder-create" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-confirm-folder-create" data-path="">Create new folder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="folder-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete folder in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-folder-delete">
                    <span></span>
                </div>
                <p>Do you want to delete folder <span id="folder-delete-name"></span> and its content?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-confirm-folder-delete" data-collection="" data-name="">Delete folder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="folder-rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Rename folder in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-folder-rename">
                    <span></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">New folder name</span>
                    </div>
                    <input type="hidden" id="org-folder-rename-name" value="">
                    <input type="text" class="form-control" id="folder-rename-name" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-confirm-folder-rename" data-collection="">Rename folder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="file-rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Rename file in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-file-rename">
                    <span></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">New file name</span>
                    </div>
                    <input type="hidden" id="org-file-rename-name" value="">
                    <input type="text" class="form-control" id="file-rename-name" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-confirm-file-rename" data-collection="">Rename file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="file-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete file in <span id="collection"></span></h5>
                <div class="alert alert-warning" id="alert-panel-file-delete">
                    <span></span>
                </div>
                <p>Do you want to delete file <span id="file-delete-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-confirm-file-delete" data-collection="" data-name="">Delete file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="dlg-file-browse-operations">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="alert alert-warning hide" id="dlg-select-alert-panel">
                    <span></span>
                </div>

                <div class="card">
                    <div class="card-header clearfix">
                        <h5 class="card-title float-start">
                            Select folder to <span class="action"></span> <span class="action-file"></span>
                        </h5>
                    </div>

                    <input type="hidden" id="restoration-objectid" value="">

                    <div class="card">
                        <div class="card-body">
                            <ol class="breadcrumb dlg-breadcrumb">
                                <li class="active">Research</li>
                            </ol>

                            <table id="folder-select-browser" class="table yoda-table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Modified date</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary dlg-action-button" data-action="" data-name="" data-collection=""><span class="action"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="multi-select-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">Delete selected items in <span class="collection"></span></h5>
                <p>Do you want to delete the selected items?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary dlg-action-button" data-action="multiple-delete">Delete selected items</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mutli-select-progress" data-action="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="card">
                    <div class="card-header clearfix">
                        <h5 class="card-title float-start">
                            <span class="action"></span> selected items
                        </h5>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered multi-select-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Progress</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="finishMultiSelect" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="uploads" class="hidden fixed-bottom w-75">
    <div class="modal-dialog mw-100 w-75">
        <div class="modal modal-content">
            <div class="modal-header" id="uploads_header">
                <div class="col-md-6">
                    <h5 class="modal-title">Uploads
                        <span class="uploads-progress-information"></span>
                    </h5>
                </div>
                <div class="col-md-3">
                    <div class="progress position-relative">
                        <div class="progress-bar progress-bar-striped bg-info uploads-total-progress-bar" style="width: 0%;"></div>
                        <small class="justify-content-center d-flex position-absolute w-100 uploads-total-progress-bar-perc"></small>
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-uploads-overview" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
            </div>
            <div class="modal-body">
                <div id="files"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-close-uploads-overview" data-bs-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="viewMedia">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="viewer"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row d-block">
    <nav aria-label="breadcrumb flex-column">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
        </ol>
    </nav>

    <div class="top-information">
        <div class="row">
            <div class="col-md-6">
                <h2 class="pt-3"></h2>
            </div>
            <div class="col-md-6">
                <div class="top-info-buttons">
                    <div class="btn-toolbar float-end" role="toolbar">
                        <div class="btn-group me-2" role="group">
                            <button type="button" class="btn btn-outline-secondary metadata-form" data-path="" title="Open metadata form">Metadata</button>
                        </div>
                        <div class="btn-group me-2" role="group">
                            <button type="button" class="btn btn-outline-secondary folder-create" data-path="" title="Create a new folder"><i class="fa-solid fa-folder" aria-hidden="true"></i> Create Folder</button>
                        </div>
                        <div class="btn-group me-2" role="group">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle upload" data-path="" title="Upload files &amp; folders" id="uploadMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-upload" aria-hidden="true"></i> Upload
                                </button>
                                <div class="dropdown-menu" aria-labelledby="uploadMenu">
                                    <a class="dropdown-item upload-file" title="Upload files" href="#">Upload files</a>
                                    <a class="dropdown-item upload-folder" title="Upload folders" href="#">Upload folders</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" title="Actions menu" id="actionMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu action-list" role="menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card lock mt-2">
            <div class="card-header">Locks</div>
            <div class="list-group lock-items"></div>
        </div>
        <div class="card system-metadata mt-2">
            <div class="card-header">System metadata</div>
            <div class="list-group system-metadata-items"></div>
        </div>
        <div class="card actionlog mt-2">
            <div class="card-header">Provenance information</div>
            <div class="list-group actionlog-items"></div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row d-block">
            <table id="file-browser" class="table yoda-table table-striped upload-drop">
                <thead>
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" id="multi-select-all">
                        <div class="dropdown float-end">
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle hide" type="button" data-bs-toggle="dropdown" id="multiSelect" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="multiSelect">
                                <a class="dropdown-item multiple-move" title="Move">Move</a>
                                <a class="dropdown-item multiple-copy" title="Copy">Copy</a>
                                <a class="dropdown-item multiple-delete" title="Delete">Delete</a>
                            </div>
                        </div>
                    </th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Modified date</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
