
.tab-content {
    margin-top:10px;
}

.browse, .browse-search, .browse-select {
    cursor: pointer;
}

ol.breadcrumb li.active {
    font-weight: bold;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    float:left;
}

.search-results {
    display: none;
}

.top-information {
    display: none;
}

.top-info-buttons {
    padding-top: 20px;
    text-align: right;
}

.top-info-buttons .research,
.top-info-buttons .vault
{
    display: none;
}

.action-list li {
    cursor: pointer;
}

.panel-heading .input-group-sm {
    margin: -7px; /* btn in panel heading */
}
.panel-footer  .input-group-sm {
    margin: -6px; /* btn in panel footer */
}

.top-information h1 .icon .fa-stack {
    font-size:22px;
}

.top-information h1 .icon .fa-stack .fa-shield.fa-stack-1x {
    margin-top: 2px;
}

.top-information h1 #statusBadge {
    margin-left: 20px;
}

.hide {
    display: none;
}

.restore-exists.cover {
    background-color: #ffffff;
    border-radius: 5px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1000;
    padding:15px;
}

#messages {
    margin-left: -15px;
    margin-right: -15px;
}

.lock-icon {
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#file-browser_length, #search_length {
    float: left;
    padding-top: 2px;
}

#file-browser tr > :nth-child(1) {
    min-width: 40%;
}

#file-browser tr > :nth-child(2) {
    max-width: 30px;
    text-align: right;
}
#file-browser tr > :nth-child(3) {
    max-width: 40px;
}
#file-browser tr > :nth-child(4) {
    max-width: 10px;
    text-align: right;
}

#file-browser .fa {
    padding-left: 4px;
    padding-right: 4px;
}

.dropdown-toggle, .view-image, .view-audio, .view-video {
    cursor: pointer;
}

table.dataTable > tbody > tr > td {
    padding: 5px;
    vertical-align: baseline;
}
table.dataTable > tbody > tr > td i {
    font-size: 19px;
    vertical-align: bottom;
}

/* Table */
.yoda-table th {
    background-color: #dcdcdc;
    border-color: #ddd;
    border-bottom: 1px solid transparent!important;
    color: #333;
    font-family: inherit;
    font-weight: 500;
}

.yoda-table tr.odd {
    background-color: transparent !important;
}