
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), local("Merriweather-Regular"), url(/static/font/Merriweather/Merriweather-Regular.woff) format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(/static/font/open-sans/Merriweather-Bold.woff) format("woff"); }
}

.tab-content {
    margin-top:10px;
}

.browse, .browse-search, .browse-select {
    cursor: pointer;
}

ol.breadcrumb li.active {
    font-weight: bold;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    float:left;
}

.search-results {
    display: none;
}

.top-information {
    display: none;
}

.top-info-buttons {
    padding-top: 20px;
    text-align: right;
}

.top-info-buttons .research,
.top-info-buttons .vault
{
    display: none;
}

.action-list li {
    cursor: pointer;
}

.panel-heading .input-group-sm {
    margin: -7px; /* btn in panel heading */
}
.panel-footer  .input-group-sm {
    margin: -6px; /* btn in panel footer */
}

.top-information h1 .icon .fa-stack {
    font-size:22px;
}

.top-information h1 .icon .fa-stack .fa-shield.fa-stack-1x {
    margin-top: 2px;
}

.top-information h1 #statusBadge {
    margin-left: 20px;
}

.hide {
    display: none;
}

.restore-exists.cover {
    background-color: #ffffff;
    border-radius: 5px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1000;
    padding:15px;
}

#messages {
    margin-left: -15px;
    margin-right: -15px;
}

.lock-icon {
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#file-browser_length, #search_length {
    float: left;
    padding-top: 2px;
}

#file-browser tr > :nth-child(1) {
    padding-left: 10px;
}
#file-browser tr > :nth-child(2) {
    text-align: right;
}
#file-browser tr > :nth-child(4) {
    text-align: right;
}

#file-browser .fa {
    padding-left: 4px;
    padding-right: 4px;
}

a.dropdown-item:hover, a.dropdown-item:focus {
    cursor: pointer;
}

.dropdown-toggle, .view-image, .view-audio, .view-video {
    cursor: pointer;
}

table.dataTable > tbody > tr > td {
    padding: 5px;
    vertical-align: baseline;
}
table.dataTable > tbody > tr > td i {
    font-size: 19px;
    vertical-align: bottom;
}

/* Table */
.yoda-table th {
    background-color: #dcdcdc;
    border-color: #ddd;
    border-bottom: 1px solid transparent!important;
    color: #333;
    font-family: inherit;
    font-weight: 500;
}

.yoda-table tr.odd {
    background-color: transparent !important;
}

.metadata-info {
    padding: 10px 10px 0px 10px;
}
.metadata-info * {
    font-family: 14/21px 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #212529;
}
.metadata-info .metadata-creator {
    font: 21px/32px 'Open Sans', Arial;
    margin: 15px 0 10px 0;
}
.metadata-info .metadata-title {
    font: 32/38px 'Merriweather', 'Open Sans', Arial;
    margin: 10px 0;
    text-align:justify;
}
.metadata-info .dates-row {
    margin: 10px 0;
    font-style: italic;
}
.dates-row label {
    margin-right: 5px;
}
.dates-row span {
    font: 14/21px 'Merriweather', sans-serif;
}

.metadata-info .metadata-description {
    font: 16px/24px 'Open Sans', sans-serif;
    font-weight: 200;
    margin: 10px 0;
}

.metadata-info tag {
    background: #f2f2f2;
    padding: 5px 10px;
    margin: 7px 7px 0 0;
    font: 16px/24px 'Open Sans', sans-serif;
    color: #333333;
    display: inline-block;
}


