<div class="card mb-3">
    <div class="card-header clearfix">
        <div class="input-group-sm has-feedback float-start">
            <a class="btn btn-secondary collapse-buttons" data-bs-toggle="collapse" href="#datamanagerReviewDiv" role="button" aria-expanded="{% if not expanded %}false{% endif %}{%if expanded %}true{% endif %}">
                <span class="text-collapsed">Show</span>
                <span class="text-expanded">Hide</span>
            </a>
        </div>
        <h5 class="float-start">Datamanager review</h5>
    </div>
    <div id="datamanagerReviewDiv" class="card-body {% if not expanded %}collapse{% endif %}{% if expanded %}show{% endif %}">
        <div id="datamanagerReview" class="metadata-form">
            <p>Loading metadata <i class="fa fa-spinner fa-spin fa-fw"></i></p>
        </div>
    </div>
</div>
