<!DOCTYPE html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='yoda-portal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='research.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='datatables/css/dataTables.bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    </head>
    <body>

<script>
    var browsePageItems = 10;
    var browseStartDir  = '/';
    var view = 'browse';
</script>





<div class="brandbar container">
    <div class="logo pull-left">
        <a href="https://www.uu.nl">
            <img src="{{ url_for('static', filename='img/logo-uu.svg') }}">
        </a>
    </div>
    <div class="auth-action pull-right">
        <a class="logout text-right" href="{{ url_for('logout') }}">Log out</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Yoda Portal</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"> <a href="{{ url_for('browse') }}"> Research </a> </li>
                <li class=""> <a href="https://portal.yoda.test/vault"> Vault </a> </li>
                <li class=""> <a href="https://portal.yoda.test/datarequest"> Datarequest </a> </li>
                <li class=""> <a href="https://portal.yoda.test/intake"> Intake </a> </li>
                <li class=""> <a href="https://portal.yoda.test/statistics"> Statistics </a> </li>
                <li class=""> <a href="https://portal.yoda.test/group-manager"> Group Manager </a> </li>
            </ul>
            </ul>
        </div>
    </div>
</nav>
<div class="container page">
    <div id="messages">
    </div>





<script>
    var searchTerm = '';
    var searchStatusValue = '';
    var searchType = '';
    var searchStart = null;
    var searchOrderDir = '';
    var searchOrderColumn = '';
    var searchPageItems = null;
</script>

<div class="row">
    <div class="input-group" style="margin-bottom:20px;">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept" data-type="folder">Search by filename</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-type="filename">Search by filename</a></li>
                <li><a href="#" data-type="folder">Search by folder</a></li>
                <li><a href="#" data-type="metadata">Search by metadata</a></li>
                <li><a href="#" data-type="status">Search by status</a></li>
                <li><a href="#" data-type="revision">Search revision by name</a></li>
            </ul>
        </div>
        <div class="search-term">
            <input type="hidden" name="search_param" value="all" id="search_param">
        </div>
        <input type="text" class="form-control search-term" id="search-filter" placeholder="Search term..." value="" maxlength="255">
        <span class="input-group-btn search-term">
            <button class="btn btn-default search-btn" data-items-per-page="10" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>

        <select name="status" class="form-control search-status hide">
            <option style="display:none" disabled selected value>Select status...</option>
            <optgroup label="Research">
                <option value="research:LOCKED">Locked</option>
                <option value="research:SUBMITTED">Submitted for vault</option>
                <option value="research:ACCEPTED">Accepted for vault</option>
                <option value="research:REJECTED">Rejected for vault</option>
                <option value="research:SECURED">Secured in vault</option>
            </optgroup>
            <optgroup label="Vault">
                <option value="vault:UNPUBLISHED">Unpublished</option>
                <option value="vault:SUBMITTED_FOR_PUBLICATION">Submitted for publication</option>
                <option value="vault:APPROVED_FOR_PUBLICATION">Approved for publication</option>
                <option value="vault:PUBLISHED">Published</option>
                <option value="vault:DEPUBLISHED">Depublished</option>
            </optgroup>
        </select>
    </div>

    <div class="panel panel-default search-results">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Search results for '<span class="search-string"></span>'</h3>

            <button class="btn btn-default pull-right close-search-results input-group-sm has-feedback">Close</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table class="table yoda-table table-bordered" id="search" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>




<div class="modal" id="showUnpreservableFiles">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>File formats compliance with policy</h3>
                <div class="form-group">
                    <label for="file-formats-list">Select preservable file format list:</label>
                    <select class="form-control" id="file-formats-list">
                        <option value="" disabled selected>Select a file format list</option>
                    </select>
                </div>
                <p class="help"></p><br />
                <p class="advice"></p>
                <p class="checking">Checking files <i class="fa fa-spinner fa-spin fa-fw"></i></p>
                <p class="preservable">
                    This folder does not contain files that are likely to become unusable in the future.
                </p>
                <div class="unpreservable">
                    <p>The following unpreservable file extensions were found in your dataset:</p>
                    <ul class="list-unpreservable-formats"></ul>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default grey cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="uploads">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h3>Uploads</h3>
                <div id="files"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default grey cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="viewMedia">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="viewer"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default grey cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>

    <div class="top-information">
         <div class="row">
            <div class="col-md-8">
                <h1></h1>
            </div>
            <div class="col-md-4">
                <div class="top-info-buttons">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default metadata-form" data-path="">Metadata</button>
                    </div>
                    <div class="btn-group" role="group">
                        <input type="file" id="upload" multiple style="display: none" />
                        <button type="button" class="btn btn-default upload" data-path=""><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default folder-status" data-toggle="dropdown" disabled="disabled">Actions</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" disabled="disabled">
                            <span class="caret"></span><span class="sr-only">Actions</span>
                        </button>
                        <ul class="dropdown-menu action-list" role="menu"></ul>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group lock-items"></ul>
        <ul class="list-group system-metadata-items"></ul>
        <ul class="list-group actionlog-items"></ul>
    </div>

    <div class="col-md-12">
        <div class="row">
            <table id="file-browser" class="table yoda-table table-striped" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Modified date</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


</div>
<footer class="footer">
  <div class="container">
  </div>
</footer>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='datatables/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='datatables/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='messages.js') }}"></script>
        <script src="{{ url_for('static', filename='yoda.js') }}"></script>
        <script> Yoda.csrf = {tokenName: 'csrf_token', tokenValue: '{{ csrf_token() }}'}; </script>
        <script> Yoda.basePath = '/tempZone/home'; </script>
        <script src="{{ url_for('static', filename='browse.js') }}"></script>
        <script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>
