<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='yoda-portal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}">
    </head>
    <body>

<div class="brandbar container">
    <div class="logo pull-left">
        <a href="https://www.uu.nl">
            <img src="{{ url_for('static', filename='img/logo-uu.svg') }}">
        </a>
    </div>
    <div class="auth-action pull-right">
        <a class="logout text-right" href="{{ url_for('logout') }}">Log out</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Yoda Portal</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""> <a href="{{ url_for('browse') }}"> Research </a> </li>
                <li class=""> <a href="https://portal.yoda.test/vault"> Vault </a> </li>
                <li class=""> <a href="https://portal.yoda.test/datarequest"> Datarequest </a> </li>
                <li class=""> <a href="https://portal.yoda.test/intake"> Intake </a> </li>
                <li class=""> <a href="https://portal.yoda.test/statistics"> Statistics </a> </li>
                <li class=""> <a href="https://portal.yoda.test/group-manager"> Group Manager </a> </li>
            </ul>
            </ul>
        </div>
    </div>
</nav>
<div class="container page">
    <div id="messages">
    </div>


<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">API test</h3>
            </div>
            <div class="panel-body">

        <form method="post" action="/api/uu_ping" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <!-- <label for="f-fn">API</label> <input id="f-fn" name="fn" type="text" value="uu_ping"> -->
            <!-- <label for="f-data">Data</label> <input id="f-data" name="data" type="text" size=40> -->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="f-fn">API</label>
                <div class="col-sm-9">
                    <input id="f-fn" class="form-control" name="fn" type="text" value="uu_browse_folder">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="f-data">Data</label>
                <div class="col-sm-9">
                    <input id="f-data" class="form-control" name="data" type="text" size=40 value="{&quot;coll&quot;: &quot;/tempZone/home&quot;}">
                </div>
            </div>
            <div class="form-group"> <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary col-sm-3" type="submit" value="Submit">
            </div> </div>
        </form>
        <pre id="out" class="hidden"></pre>

        </div>
        </div>



        </div>
<footer class="footer">
  <div class="container">
  </div>
</footer>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='messages.js') }}"></script>
        <script src="{{ url_for('static', filename='yoda.js') }}"></script>
        <script> Yoda.csrf = {tokenName: 'csrf_token', tokenValue: '{{ csrf_token() }}'}; </script>
        <script>
            //let $ = (x) => document.querySelector(x);
            $('form').on('submit', (e) => {
                $('#out').removeClass('hidden');
                $('#out')[0].innerText = '...';
                e.preventDefault();
                Yoda.call($('#f-fn')[0].value, JSON.parse($('#f-data')[0].value), {quiet: true, rawResult: true})
                    .then(r => $('#out')[0].innerText = JSON.stringify(r, null, 2));
            });
        </script>


    </body>
</html>
