{% extends 'base.html' %}

{% block title %}{{ super() }} - Datarequest {{ request_id }} - Preliminary review{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('datarequest_bp.static', filename='css/forms.css') }}">
{% endblock style %}

{% block scripts %}
<script> window.config = {
  request_id: '{{ request_id }}',
}
</script>
<script src="{{ url_for('datarequest_bp.static', filename='js/preliminary_review.js') }}"></script>
{% endblock scripts %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="preliminaryReview" class="metadata-form">
            <p>Loading metadata <i class="fa fa-spinner fa-spin fa-fw"></i></p>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% with %}
        {% set expanded = true %}
        {% include 'datarequest/partials/datarequest.html' %}
        {% endwith %}
        {% if attachments|length > 0 %}
        {% include 'datarequest/partials/attachments.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}
