{% extends 'base.html' %}

{% block title %}{{ super() }} - Datarequest {{ request_id }} - Preregistration confirmation{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('datarequest_bp.static', filename='css/forms.css') }}">
{% endblock style %}

{% block scripts %}
<script> window.config = {
  request_id: '{{ request_id }}',
}
</script>
<script src="{{ url_for('datarequest_bp.static', filename='js/preregistration_confirm.js') }}"></script>
{% endblock scripts %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a id="confirmPreregistration" href="/datarequest/confirm_preregistration/{{ request_id }}" class="disabled btn btn-primary mb-3 float-end">Confirm preregistration</a>
        <a rel="noopener" id="visitPreregistration" target="_blank" href="{{ osf_url }}" class="btn btn-primary mb-3 me-1 float-end">Visit OSF preregistration</a>
    </div>
    <div class="col-md-12">
        {% with %}
        {% set expanded = true %}
        {% include 'datarequest/partials/preregistration.html' %}
        {% endwith %}
        {% include 'datarequest/partials/datarequest.html' %}
    </div>
</div>
{% endblock content %}
