{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Datarequest {{ request_id }}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('datarequest_bp.static', filename='css/view.css') }}">
<link rel="stylesheet" href="{{ url_for('datarequest_bp.static', filename='css/forms.css') }}">
{% endblock style %}

{% block scripts %}
<script> window.config = {
  request_id: '{{ request_id }}',
  available_documents: '{{ available_documents }}'
}
</script>
<script src="{{ url_for('datarequest_bp.static', filename='js/view.js') }}"></script>
{% endblock scripts %}

{% block content %}

<div class="modal" id="uploadDTA">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Upload a DTA (to be signed by the researcher).</h5>
                <div class="form-group">
                    <form id="dta" enctype="multipart/form-data">
                        <label for="file">Select a document to upload (must be a PDF file):</label><br>
                        <input type="file" accept=".pdf,application/pdf" name="file" id="file">
                    </form>
                </div>
                <div id="dta-non-pdf-warning" class="hidden">
                    <p class="text-danger">File must be an actual PDF.</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary grey cancel" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary grey submit_dta">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="uploadSignedDTA">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Upload the signed DTA.</h5>
                <div class="form-group">
                    <form id="signed_dta" enctype="multipart/form-data">
                        <label for="file">Select a document to upload (must be a PDF file):</label><br>
                        <input type="file" accept=".pdf,application/pdf" name="file" id="file">
                    </form>
                </div>
                <div id="signed-dta-non-pdf-warning" class="hidden">
                    <p class="text-danger">File must be an actual PDF.</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary grey cancel" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary grey submit_signed_dta">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if request_status == 'DRAFT' and is_request_owner %}
        <a href="/datarequest/add_from_draft/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Resume draft data request</a>
        {% endif %}

        {% if request_status == 'PENDING_ATTACHMENTS' and is_request_owner %}
        <?php if ($requestStatus == "PENDING_ATTACHMENTS" && $isRequestOwner): ?>
        <a href="/datarequest/add_attachments/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Add attachments</a>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'SUBMITTED' and is_project_manager %}
        <?php if($requestStatus == "SUBMITTED" && $isProjectManager): ?>
        <a href="/datarequest/preliminary_review/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Preliminary review</a>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'PRELIMINARY_ACCEPT' and is_datamanager %}
        <?php if($requestStatus == "PRELIMINARY_ACCEPT" && $isDatamanager): ?>
        <a href="/datarequest/datamanager_review/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Data manager review</a>
        <?php endif ?>
        {% endif %}

        {% if request_status in ['DATAMANAGER_ACCEPT', 'DATAMANAGER_REJECT', 'DATAMANAGER_RESUBMIT'] and is_project_manager %}
        <?php if(in_array($requestStatus, ["DATAMANAGER_ACCEPT", "DATAMANAGER_REJECT", "DATAMANAGER_RESUBMIT"]) && $isProjectManager): ?>
        <a href="/datarequest/assign/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Review / assign</a>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'UNDER_REVIEW' and is_pending_reviewer %}
        <?php if($requestStatus == "UNDER_REVIEW" && $isPendingReviewer): ?>
        <a href="/datarequest/review/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Review data request</a>
        <?php endif ?>
        {% endif %}

        {% if request_status in ['DAO_SUBMITTED', 'REVIEWED'] and is_project_manager %}
        <?php if(in_array($requestStatus, ["DAO_SUBMITTED", "REVIEWED"]) && $isProjectManager): ?>
        <a href="/datarequest/evaluate/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Evaluate data request</a>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'APPROVED' and is_request_owner %}
        <?php if (in_array($requestStatus, ["APPROVED"]) && $isRequestOwner): ?>
        <a href="/datarequest/preregister/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Preregister study</a>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'PREREGISTRATION_SUBMITTED' and is_project_manager %}
        <?php if (in_array($requestStatus, ["PREREGISTRATION_SUBMITTED"]) && $isProjectManager): ?>
        <a href="/datarequest/preregistration_confirm/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Go to preregistration confirmation page</a>
        <?php endif ?>
        {% endif %}

        {% if request_status in ['PREREGISTRATION_CONFIRMED', 'DAO_APPROVED'] and is_datamanager %}
        <?php if (in_array($requestStatus, ["PREREGISTRATION_CONFIRMED", "DAO_APPROVED"]) && $isDatamanager): ?>
        <button type="button" class="btn btn-primary mb-3 float-end upload_dta" data-path="">Upload DTA</button>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'DTA_READY' and is_request_owner %}
        <?php if ($requestStatus == "DTA_READY" && $isRequestOwner): ?>
        <button type="button" class="btn btn-primary mb-3 ms-1 float-end upload_signed_dta" data-path="">Upload signed DTA</button>
        <?php endif ?>
        {% endif %}

        {% if request_status == 'DTA_SIGNED' and is_datamanager %}
        <?php if ($requestStatus == "DTA_SIGNED" && $isDatamanager): ?>
        <a href="/datarequest/data_ready/{{ request_id }}" class="btn btn-primary mb-3 ms-1 float-end" role="button">Data ready</a>
        <?php endif ?>
        {% endif %}

        {% if request_status in ['PRELIMINARY_RESUBMIT', 'RESUBMIT_AFTER_DATAMANAGER_REVIEW', 'RESUBMIT'] and is_request_owner %}
        <?php if (in_array($requestStatus, array("PRELIMINARY_RESUBMIT", "RESUBMIT_AFTER_DATAMANAGER_REVIEW", "RESUBMIT")) && $isRequestOwner): ?>
        <a href="/datarequest/add/{{ request_id }}" class="btn btn-primary mb-3 float-end" role="button">Resubmit</a>
        <?php endif ?>
        {% endif %}

        {% if request_status in ['DTA_SIGNED', 'DATA_READY'] and (is_request_owner or is_project_manager or is_datamanager) %}
        <?php if (in_array($requestStatus, array("DTA_SIGNED", "DATA_READY")) && ($isRequestOwner || $isProjectManager || $isDatamanager)): ?>
        <a href="/datarequest/download_signed_dta/{{ request_id }}" class="btn btn-primary mb-3 ms-1 float-end">Download signed DTA</a>
        <?php endif ?>
        {% endif %}

        {% if request_status in ['DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_request_owner or is_project_manager or is_datamanager) %}
        <?php if (in_array($requestStatus, array("DTA_READY", "DTA_SIGNED", "DATA_READY")) && ($isRequestOwner || $isProjectManager || $isDatamanager)): ?>
        <a href="/datarequest/download_dta/{{ request_id }}" class="btn btn-primary mb-3 ms-1 float-end">Download DTA</a>
        <?php endif ?>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header clearfix">
                <h5 class="float-start">Summary and progress</h5>
                <div class="input-group-sm has-feedback float-end">
                    <a class="btn btn-secondary" href="/datarequest">Back</a>
                </div>
            </div>
            <div class="card-body">
                {% if request_type == 'REGULAR' %}
                <div class="row bs-wizard" style="border-bottom:0;">
                    <div class="col-md-3 bs-wizard-step disabled" id="step-0">
                        <div class="text-md-center bs-wizard-stepnum">1. Submission</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-1">
                        <div class="text-md-center bs-wizard-stepnum">2. Under review</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-2">
                         <div class="text-md-center bs-wizard-stepnum">3. Reviewed</div>
                         <div class="progress"><div class="progress-bar"></div></div>
                         <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-3">
                         <div class="text-md-center bs-wizard-stepnum">4. Approved</div>
                         <div class="progress"><div class="progress-bar"></div></div>
                         <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
                <div class="row bs-wizard" style="border-bottom:0;">
                    <div class="col-md-3 bs-wizard-step disabled" id="step-4">
                        <div class="text-md-center bs-wizard-stepnum">5. Preregistration</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-5">
                        <div class="text-md-center bs-wizard-stepnum">6. DTA ready</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-6">
                        <div class="text-md-center bs-wizard-stepnum">7. DTA signed</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-7">
                        <div class="text-md-center bs-wizard-stepnum">8. Data ready</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
                {% elif request_type == 'DAO' %}
                <div class="row bs-wizard offset-md-4" style="border-bottom:0;">
                    <div class="col-md-3 bs-wizard-step disabled" id="step-0">
                        <div class="text-md-center bs-wizard-stepnum">1. Submission</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-1">
                         <div class="text-md-center bs-wizard-stepnum">2. Approved</div>
                         <div class="progress"><div class="progress-bar"></div></div>
                         <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
                <div class="row bs-wizard offset-md-2" style="border-bottom:0;">
                    <div class="col-md-3 bs-wizard-step disabled" id="step-2">
                        <div class="text-md-center bs-wizard-stepnum">3. DTA ready</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-3">
                        <div class="text-md-center bs-wizard-stepnum">4. DTA signed</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                    <div class="col-md-3 bs-wizard-step disabled" id="step-4">
                        <div class="text-md-center bs-wizard-stepnum">5. Data ready</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
                {% endif %}

                {% if request_status in ['PRELIMINARY_REJECT', 'REJECTED_AFTER_DATAMANAGER_REVIEW', 'REJECTED'] %}
                <?php if (in_array($requestStatus, array("PRELIMINARY_REJECT", "REJECTED_AFTER_DATAMANAGER_REVIEW", "REJECTED"))): ?>
                <div class="rejected"><h5>Proposal rejected</h5></div>
                    {% if is_request_owner %}
                    <?php if ($isRequestOwner): ?>
                    <h5>Feedback for researcher</h5>
                    <hr class="border-0 bg-secondary" style="height: 1px;">
                    <p><?php echo nl2br(html_escape($feedback)) ?></p>
                    <?php endif ?>
                    {% endif %}
                {% elif request_status in ['PRELIMINARY_RESUBMIT', 'RESUBMIT_AFTER_DATAMANAGER_REVIEW', 'RESUBMIT'] %}
                <?php elseif (in_array($requestStatus, array("PRELIMINARY_RESUBMIT", "RESUBMIT_AFTER_DATAMANAGER_REVIEW", "RESUBMIT"))): ?>
                <div class="resubmit"><h5>Resubmission requested</h5></div>
                    {% if is_request_owner %}
                    <?php if ($isRequestOwner): ?>
                    <div class="resubmit">
                        <p>(click <a href=/datarequest/add/<?php echo html_escape($requestId) ?>>here</a> to open the resubmission form)</p>
                    </div>
                    <h5>Feedback for researcher</h5>
                    <hr class="border-0 bg-secondary" style="height: 1px;">
                    <p><?php echo nl2br(html_escape($feedback)) ?></p>
                    <?php endif ?>
                    {% endif %}
                {% elif request_status == 'RESUBMITTED' %}
                <?php elseif ($requestStatus == "RESUBMITTED"): ?>
                <div class="resubmitted"><h5>Resubmitted</h5></div>
                <div class="resubmitted">
                    <p>(click <a href=/datarequest/view/<?php echo html_escape($resubmissionId) ?>>here</a> to go to the resubmision)</p>
                </div>
                <?php endif ?>
                {% endif %}

                <hr>

                <p><b>Title: </b>{{ request['datarequest']['study_information']['title'] }}</p>
                <p><b>Status: </b>{{ human_request_status }}</p>
                <p><b>Requestee: </b>{{ request['owner'] }}</p>
                <p><b>Purpose: </b>{{ request['datarequest']['purpose'] }}
                {% if request_type == 'REGULAR' %}
                <p><b>Publication type: </b>{{ publication_type }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'datarequest/partials/datarequest.html' %}
        {% if attachments|length > 0 %}
        {% include 'datarequest/partials/attachments.html' %}
        {% endif %}

        {% if request_type == 'REGULAR' and request_status in ['PRELIMINARY_ACCEPT', 'PRELIMINARY_REJECT', 'PRELIMINARY_RESUBMIT', 'DATAMANAGER_ACCEPT', 'DATAMANAGER_REJECT', 'DATAMANAGER_RESUBMIT', 'UNDER_REVIEW', 'REJECTED_AFTER_DATAMANAGER_REVIEW', 'RESUBMIT_AFTER_DATAMANAGER_REVIEW', 'REVIEWED', 'APPROVED', 'REJECTED', 'RESUBMIT', 'RESUBMITTED', 'DAO_APPROVED', 'PREREGISTRATION_SUBMITTED', 'PREREGISTRATION_CONFIRMED', 'DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_project_manager or is_datamanager or is_reviewer) %}
        {% include 'datarequest/partials/preliminary_review.html' %}
        {% endif %}

        {% if request_type == 'REGULAR' and request_status in ['DATAMANAGER_ACCEPT', 'DATAMANAGER_REJECT', 'DATAMANAGER_RESUBMIT', 'UNDER_REVIEW', 'REJECTED_AFTER_DATAMANAGER_REVIEW', 'RESUBMIT_AFTER_DATAMANAGER_REVIEW', 'REVIEWED', 'APPROVED', 'REJECTED', 'RESUBMIT', 'RESUBMITTED', 'DAO_APPROVED', 'PREREGISTRATION_SUBMITTED', 'PREREGISTRATION_CONFIRMED', 'DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_project_manager or is_datamanager or is_reviewer) %}
        <!-- <?php if ($requestType == "REGULAR" and in_array($requestStatus, ["DATAMANAGER_ACCEPT", "DATAMANAGER_REJECT", "DATAMANAGER_RESUBMIT", "UNDER_REVIEW", "REJECTED_AFTER_DATAMANAGER_REVIEW", "RESUBMIT_AFTER_DATAMANAGER_REVIEW", "REVIEWED", "APPROVED", "REJECTED", "RESUBMIT", "RESUBMITTED", "DAO_APPROVED", "PREREGISTRATION_SUBMITTED", "PREREGISTRATION_CONFIRMED", "DTA_READY", "DTA_SIGNED", "DATA_READY"]) && ($isProjectManager || $isDatamanager || $isReviewer)): ?> -->
        {% include 'datarequest/partials/datamanager_review.html' %}
        {% endif %}

        {% if request_type == 'REGULAR' and request_status in ['UNDER_REVIEW', 'REJECTED_AFTER_DATAMANAGER_REVIEW', 'RESUBMIT_AFTER_DATAMANAGER_REVIEW', 'REVIEWED', 'APPROVED', 'REJECTED', 'RESUBMIT', 'RESUBMITTED', 'DAO_APPROVED', 'PREREGISTRATION_SUBMITTED', 'PREREGISTRATION_CONFIRMED', 'DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_project_manager or is_reviewer) %}
        <!-- <?php if ($requestType == "REGULAR" and in_array($requestStatus, ["UNDER_REVIEW", "REJECTED_AFTER_DATAMANAGER_REVIEW", "RESUBMIT_AFTER_DATAMANAGER_REVIEW", "REVIEWED", "APPROVED", "REJECTED", "RESUBMIT", "RESUBMITTED", "DAO_APPROVED", "PREREGISTRATION_SUBMITTED", "PREREGISTRATION_CONFIRMED", "DTA_READY", "DTA_SIGNED", "DATA_READY"]) && ($isProjectManager || $isReviewer)): ?> -->
        {% include 'datarequest/partials/assign.html' %}
        {% endif %}
    </div>

        {% if request_type == 'REGULAR' and request_status in ['UNDER_REVIEW', 'REVIEWED', 'APPROVED', 'REJECTED', 'RESUBMIT', 'RESUBMITTED', 'DAO_APPROVED', 'PREREGISTRATION_SUBMITTED', 'PREREGISTRATION_CONFIRMED', 'DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_project_manager or is_reviewer) %}
    <!-- <?php if ($requestType == "REGULAR" and in_array($requestStatus, ["UNDER_REVIEW", "REVIEWED", "APPROVED", "REJECTED", "RESUBMIT", "RESUBMITTED", "DAO_APPROVED", "PREREGISTRATION_SUBMITTED", "PREREGISTRATION_CONFIRMED", "DTA_READY", "DTA_SIGNED", "DATA_READY"]) && ($isProjectManager || $isReviewer)): ?> -->
    <div class="col-md-12" id="reviews"></div>
    <?php endif ?>
    {% endif %}

    <div class="col-md-12">
        {% if request_status in ['APPROVED', 'REJECTED', 'RESUBMIT', 'RESUBMITTED', 'DAO_APPROVED', 'PREREGISTRATION_SUBMITTED', 'PREREGISTRATION_CONFIRMED', 'DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_project_manager or is_reviewer) %}
        <!-- <?php if (in_array($requestStatus, ["APPROVED", "REJECTED", "RESUBMIT", "RESUBMITTED", "DAO_APPROVED", "PREREGISTRATION_SUBMITTED", "PREREGISTRATION_CONFIRMED", "DTA_READY", "DTA_SIGNED", "DATA_READY"]) && ($isProjectManager || $isReviewer)): ?> -->
        {% include 'datarequest/partials/evaluation.html' %}
        {% endif %}

        {% if request_type == 'REGULAR' and request_status in ['PREREGISTRATION_SUBMITTED', 'PREREGISTRATION_CONFIRMED', 'DTA_READY', 'DTA_SIGNED', 'DATA_READY'] and (is_request_owner or is_project_manager) %}
        <!-- <?php if ($requestType == "REGULAR" and in_array($requestStatus, ["PREREGISTRATION_SUBMITTED", "PREREGISTRATION_CONFIRMED", "DTA_READY", "DTA_SIGNED", "DATA_READY"]) && ($isRequestOwner || $isProjectManager)): ?> -->
        {% include 'datarequest/partials/preregistration.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}
