{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Vault{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('vault_bp.static', filename='css/vault.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.css') }}">
{% endblock style %}

{% block scripts %}
<script src="{{ url_for('static', filename='lib/datatables-1.11.2/datatables.min.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/vault.js') }}"></script>
<script src="{{ url_for('vault_bp.static', filename='js/dlgSelectCollection.js') }}"></script>
<script type="text/javascript">
        var browseStartDir = {{ dir | tojson }};
        var view = 'browse';
</script>
{% endblock scripts %}

{% block content %}

<div class="modal" tabindex="-1" role="dialog" id="viewMedia">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="viewer"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Vault</li>
    </ol>
    <a class="btn btn-light float-end mb-2" href="https://dag.sites.uu.nl/find-and-retrieve-data/" target="_blank" title="Guidance"><i class="fa-solid fa-info-circle"></i> Guidance</a>
</nav>

<section class="metadata-info container hide">
    <h3 class="metadata-title"></h3>
    <h5 class="metadata-creator mt-3"></h5>
    <div class="row">
        <div class="col-lg-2">
            <strong>Description <i class="fa-solid fa-question-circle" aria-hidden="true" title="Description of this data package"></i></strong>
        </div>
        <div class="col-lg-10">
            <div class="metadata-description"></div>
            <button class="btn read-more-button hide" role="button">Read full description...</button>
            <button class="btn read-less-button hide" role="button">Collapse description...</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <strong>Personal data <i class="fa-solid fa-question-circle" aria-hidden="true" title="How is the data classified with regard to information security policy"></i></strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-data-classification"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <strong>Data package access <i class="fa-solid fa-question-circle" aria-hidden="true" title="Data package accessibility to third parties"></i></strong>
        </div>
        <div class="col-lg-10">
            <span class="metadata-access"></span>
        </div>
    </div>
</section>

<div class="top-information text-right">
    <div class="top-info-buttons text-end">
        <h2 class="me-2 d-inline"></h2>
        <div class="btn-toolbar float-end d-inline" role="toolbar">
            <div class="btn-group me-2" role="group">
                <button type="button" class="btn btn-outline-secondary metadata-form" data-path="" title="Show metadata form">Metadata</button>
            </div>
        </div>
    </div>

    <div class="card system-metadata mt-2">
        <div class="card-header">System metadata</div>
        <div class="list-group system-metadata-items"></div>
    </div>
    <div class="card actionlog mt-2">
        <div class="card-header">Provenance information</div>
        <div class="list-group actionlog-items"></div>
    </div>

</div>

<table id="file-browser" class="table yoda-table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Modified date</th>
        <th></th>
    </tr>
    </thead>
</table>

{% endblock content %}
