{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Administration{% endblock title %}

{% block content %}
<div class="container mt-4">
    <header>
        <h1>Administration</h1>
    </header>
    <main>
        <!-- Set Maintenance Banner section-->
        <section class="card my-3">
            <div class="card-body">
                <h2 class="card-title">Set Maintenance Banner</h2>
                <div class="d-flex justify-content-start align-items-end" style="width: 100%;">
                    <!-- Form to set a maintenance banner -->
                    <form action="{{ url_for('admin_bp.set_banner') }}" method="POST"
                        class="flex-fill me-2 needs-validation" novalidate>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <!-- Text area for entering banner details -->
                        <div class="mb-3">
                            <label for="banner">Banner Details:</label>
                            <textarea class="form-control" name="banner" id="banner" rows="2"
                                placeholder="Enter system maintenance details..."
                                required>{{config.get('banner').get('message','')}}</textarea>
                        </div>
                        <!-- Checkbox to mark the banner as important -->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="importance" name="importance"
                                {{ 'checked' if config.get('banner', {}).get('importance', False) else '' }}>
                            <label class="form-check-label" for="importance">Mark as Important</label>
                        </div>
                        <button type="submit" class="btn btn-primary" name="Set Banner">Set Banner</button>
                    </form>
                    <!-- Form to remove the maintenance banner -->
                    <form action="{{ url_for('admin_bp.remove_banner') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-secondary" name="Remove Banner">Remove Banner</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- Theme Change section-->
        <section class="card my-3">
            <div class="card-body">
                <h2 class="card-title">Change Portal Theme</h2>
                <form action="{{ url_for('admin_bp.set_theme') }}" method="POST" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="theme">Select Theme:</label>
                        <select class="form-control" id="theme" name="theme" required>
                            <!-- Add default theme option -->
                            {% set current_theme = config.get('YODA_THEME', 'uu') %}
                            {% for folder in theme_directories %}
                            <option value="{{ folder }}" {% if folder==current_theme %}selected{% endif %}> {{
                                config.get('YODA_THEME_MAPPING').get(folder, folder) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" name="Change Theme">Change Theme</button>
                </form>
            </div>
        </section>

        <!-- Update Publication Terms -->
        <section class="card my-3">
            <div class="card-body">
                <h2 class="card-title">Update Publication Terms</h2>
                <form method="POST" action="{{ url_for('admin_bp.update_publication_terms') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="publicationTerms">Current Publication Terms:</label>
                        <textarea class="form-control" id="publicationTerms" name="publicationTerms" rows="10"
                            required>{{ publication_terms|safe }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Terms</button>
                    <button type="button" class="btn btn-secondary" class="flex-shrink-1"
                        onclick="togglePreview()">Preview Updated Terms</button>
                </form>
            </div>
        </section>

        <!-- Confirmation Agreement Conditions Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="confirmAgreementConditions">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Updated content will be displayed here -->
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <input type="checkbox" class="confirm-conditions" id="checkbox-confirm-conditions">
                                    <label for="checkbox-confirm-conditions">Please confirm that you agree with the
                                        above</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button"
                                    class="btn btn-primary ms-2 action-confirm-submit-for-publication">Confirm
                                    agreement</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function togglePreview() {
                $.ajax({
                    url: '/admin/api/publication-terms',  // Endpoint from which to fetch publication terms
                    type: 'GET',
                    success: function (response) {
                        // Assuming the response returns a JSON object with a 'terms' property
                        const modalBody = document.querySelector('#confirmAgreementConditions .modal-body');
                        modalBody.innerHTML = response.terms;  // Insert the fetched terms into the modal body

                        // Show the modal using Bootstrap's JavaScript API
                        const modalElement = new bootstrap.Modal(document.getElementById('confirmAgreementConditions'));
                        modalElement.show();
                    },
                    error: function () {
                        console.error("Failed to load publication terms.");
                        const modalBody = document.querySelector('#confirmAgreementConditions .modal-body');
                        modalBody.innerHTML = "Failed to load publication terms.";  // Display error message in modal body

                        // Show the modal even in case of error to display the error message
                        const modalElement = new bootstrap.Modal(document.getElementById('confirmAgreementConditions'));
                        modalElement.show();
                    }
                });
            }
        </script>
    </main>
</div>
{% endblock content %}
