
.tab-content {
    margin-top:10px;
}

.browse, .browse-search, .browse-select {
    cursor: pointer;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    float:left;
}

nav .breadcrumb {
    margin: -20px 0px 0px -4px;
    background-color: #fefefe;
}

.top-information {
    display: none;
}

.top-info-buttons {
    padding-top: 20px;
    text-align: right;
}

.action-list li {
    cursor: pointer;
}

.panel-heading .input-group-sm {
    margin: -7px; /* btn in panel heading */
}
.panel-footer  .input-group-sm {
    margin: -6px; /* btn in panel footer */
}

.top-information h1 .icon .fa-stack {
    font-size:22px;
}

.top-information h1 .icon .fa-stack .fa-shield.fa-stack-1x {
    margin-top: 2px;
}

.top-information h1 #statusBadge {
    margin-left: 20px;
}

#messages {
    margin-left: -15px;
    margin-right: -15px;
}

.dropdown-toggle, .view-image, .view-audio, .view-video {
    cursor: pointer;
}

/* cards clickable
Needs save on metadata form too (react)
.card > a,
.card > a:hover,
.card > a:active
 {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
*/

.card-title {
    margin: 4px 0;
}



/* Data table */

#file-browser .dataTables_empty {
    padding: 40px 0 !important;
}

#file-browser tr > :nth-child(1) {
    min-width: 40%;
}

#file-browser tr > :nth-child(2) {
    max-width: 30px;
    text-align: right;
}
#file-browser tr > :nth-child(3) {
    max-width: 40px;
}
#file-browser tr > :nth-child(4) {
    max-width: 10px;
    text-align: right;
}
#file-browser .fa {
    padding-left: 4px;
    padding-right: 4px;
}
#file-browser_length, #search_length {
    float: left;
    padding-top: 2px;
}

#file-browser > tbody > tr > td {
    padding: 5px;
    vertical-align: baseline;
}
#file-browser > tbody > tr > td i {
    font-size: 19px;
    vertical-align: bottom;
}

#file-browser th {
    background-color: #dcdcdc;
    border-color: #ddd;
    border-bottom: 1px solid transparent!important;
    color: #333;
    font-family: inherit;
    font-weight: 500;
}

#file-browser tr.odd {
    background-color: transparent !important;
}
