
/* ** File browser size **
Make the file browser wider to allow longer filenames.
If container-fluid is used (for a full-width file browser), use the right padding on laptop screens */
@media (min-width: 1400px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1390px;
    }
}

@media (min-width: 769px) {
    .container-fluid .page {
        padding: 0 100px;
    }
}

.tab-content {
    margin-top:10px;
}

.browse, .browse-search, .browse-select {
    cursor: pointer;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    float:left;
}

nav .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding-left: 10px;
}

.action-list li {
    cursor: pointer;
}

.panel-heading .input-group-sm {
    margin: -7px; /* btn in panel heading */
}
.panel-footer  .input-group-sm {
    margin: -6px; /* btn in panel footer */
}

#messages {
    margin-left: -15px;
    margin-right: -15px;
}

.dropdown-toggle, .view-image, .view-audio, .view-video {
    cursor: pointer;
}

/* Upload */
.upload-row {
    margin-bottom: 5px;
}
.upload-filename {
    word-break: break-all;
    display: inline-block;
 }

.upload-pause,
.upload-resume,
.upload-retry {
    display: none;
}

.hide {
    display:none;
}

.card-title {
    margin: 4px 0;
}


/* Data table */

#file-browser .dataTables_empty {
    padding: 40px 0 !important;
}

#file-browser tr > :nth-child(1) {
    min-width: 60%;
    word-break:break-all;
}
#file-browser tr > :nth-child(2) {
    text-align: right;
}
#file-browser tr > :nth-child(3) {
}
#file-browser tr > :nth-child(4) {
    max-width: 90px;
    text-align: right;
}
#file-browser .fa {
    padding-left: 4px;
    padding-right: 4px;
}
#file-browser_length, #search_length {
    float: left;
    padding-top: 2px;
}

#file-browser > tbody > tr > td {
    padding: 5px;
    vertical-align: baseline;
}
#file-browser > tbody > tr > td i {
    font-size: 19px;
    vertical-align: bottom;
}

#file-browser > tbody > tr > td,
#file-browser .dropdown a {
    font-size: 0.9rem;
}


#file-browser th {
    background-color: #dcdcdc;
    border-color: #ddd;
    border-bottom: 1px solid transparent!important;
    color: #333;
    font-family: inherit;
    font-weight: 500;
}

#file-browser tr.odd {
    background-color: transparent !important;
}
