/* Upload */
.upload-filename {
    word-break: break-all;
    display: inline-block;
 }

.hide {
    display:none;
}

/* Data table */

#file-browser .dataTables_empty {
    padding: 40px 0 !important;
}

#file-browser tr > :nth-child(1) {
    min-width: 20%;
    word-break:break-all;
}
#file-browser tr > :nth-child(2) {
    min-width: 50%;
    word-break:break-all;
}
#file-browser tr > :nth-child(3) {
}
#file-browser tr > :nth-child(4) {
    max-width: 90px;
    text-align: right;
}

#file-browser_length, #search_length {
    float: left;
}

#file-browser > tbody > tr > td {
    padding: 5px;
    vertical-align: baseline;
}
#file-browser > tbody > tr > td i {
    vertical-align: bottom;
}

#file-browser th {
    background-color: #dcdcdc;
    border-color: #ddd;
    border-bottom: 1px solid transparent!important;
    color: #333;
    font-family: inherit;
    font-weight: 500;
}

#file-browser tr.odd {
    background-color: transparent !important;
}

.breadcrumb-item.active, .breadcrumb-item:hover, .breadcrumb-item:focus,
a.dropdown-item:hover, a.dropdown-item:focus
{
    cursor: pointer;
}

.drag-upload {
    border-style: dashed;
    border-width: 5px;
}
