
.top-information {
    display: none;
}

.hide {
    display: none;
}

#messages {
    margin-left: -15px;
    margin-right: -15px;
}

#flow_upload {
    margin-top: 40px;
}

.flow-list {}
.flow-list li {}
.flow-list li span {}

.flow-list li .flow-file-pause { margin-right: 10px; }
.flow-list li .flow-file-resume { margin-right: 10px; }
.flow-list li .flow-file-cancel { margin-right: 10px; }
